{% extends "::base_admin.html.twig" %}
{% set id_clan = clan.id %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard  <a href="javascript:introJs().setOption('showProgress', true).start();" class="hidden-sm hidden-xs pull-right btn btn-success"><i class="fa fa-coffee"></i> {{ 'coc.launch_demo'|trans }}</a></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <ol class="hidden-sm hidden-xs breadcrumb" data-step="1" data-position='top' data-intro="{{ 'admin.msg1'|trans }}">
        <li><a href="{{ path('admin', { 'id_clan': clan.id }) }}"><p class="fa fa-home"></p> Dashboard</a> </li>
    </ol>
    <h3>{{ render(controller('AdminBundle:Default:displaySeason')) }}</h3>

    <div class="panel panel-success">
        <!-- /.panel-heading -->
        <div class="panel-body">
            <strong>{{ 'menu.welcome'|trans }}!</strong> {{ 'menu.welcome_msg'|trans }}<a href="{{ path('admin_players', {'id_clan' : clan.id}) }}"> {{ 'menu.here'|trans }}</a> .
        </div>
        <!-- /.panel-body -->
    </div>


    <div class="panel panel-success">
        <div class="panel-heading">
            Message clan (<a href="{{ path('admin_clan_edit', { 'id_clan': clan.id } ) }}">edit</a>)
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            {{ clan.message }}
        </div>
        <!-- /.panel-body -->
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ numberPlayers }}</div>
                            <div><a class="btn btn-default" href="{{ path('admin_players', { 'id_clan': clan.id })}}">{{ 'menu.players_all'|trans }}</a></div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('admin_players', { 'id_clan': clan.id , 'type' : 1}) }}">
                    <div class="panel-footer">
                        <span class="pull-left"><a href="{{ path('admin_player_add', { 'id_clan': clan.id })}}"></i><i class="fa fa-user-plus"></i> {{ 'menu.player_add'|trans }}</a></span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-lg-3 col-md-6">
            {% if numberUsersNonAssigned > 0 %}
                <div class="panel panel-red">
            {% else %}
                <div class="panel panel-green">
            {% endif %}

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            {% if numberUsersNonAssigned > 0 %}
                                <i class="fa fa-times fa-5x"></i>
                            {% else %}
                                <i class="fa fa-check fa-5x"></i>
                            {% endif %}
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ numberUsersNonAssigned }}</div>
                            <div>{{ 'menu.account_non_assigned'|trans }}</div>
                        </div>
                    </div>
                </div>

                    <a href="{{ path('admin_users', { 'id_clan': clan.id }) }}">
                        <div class="panel-footer">
                            <span class="pull-left">{{ 'menu.assign_player'|trans }}</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-camera fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ numberBases5 + numberBases6 + numberBases7 + numberBases8 + numberBases9 + numberBases10 }}</div>
                            <div>{{ 'menu.base_number'|trans }}</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('admin_bases', { 'id_clan': clan.id }) }}">
                    <div class="panel-footer">
                        <span class="pull-left">{{ 'menu.bases_list'|trans }}</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
{% endblock %}


{% block javascripts %}
    <script>
        if ('{{ display }}' && screen.width > 479)
        {
            introJs().setOption('showProgress', true).start();
        }
    </script>
{% endblock %}

