{% extends "::base_admin.html.twig" %}
{% set id_clan = clan.id %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard
                <a class="hidden-sm hidden-xs pull-right btn btn-success" href="javascript:void(0);" onclick="javascript:introJs().setOption('showProgress', true).start();">{{ 'coc.launch_demo'|trans }}</a>
            </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <ol class="hidden-sm hidden-xs breadcrumb" data-step="1" data-position='top' data-intro="{{ 'admin.msg1'|trans }}">
        <li><a href="{{ path('admin', { 'id_clan': clan.id }) }}"><p class="fa fa-home"></p> Dashboard</a> </li>
    </ol>
    <h3>{{ render(controller('AdminBundle:Default:displaySeason')) }}</h3>

    <div class="panel panel-success">
        <!-- /.panel-heading -->
        <div class="panel-body">
            <strong>{{ 'menu.welcome'|trans }}!</strong> {{ 'menu.welcome_msg'|trans }}<a href="{{ path('admin_players', {'id_clan' : clan.id}) }}"> {{ 'menu.here'|trans }}</a> .
        </div>
        <!-- /.panel-body -->
    </div>





    </div>
</div>
{% endblock %}


{% block javascripts %}
    <script>
        if ('{{ display }}' && screen.width > 479)
        {
            introJs().setOption('showProgress', true).start();
        }
    </script>
{% endblock %}

