<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('admin',  {'id_clan': clan.id } ) }}">{{ 'menu.admin_clan'|trans }}</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">


        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> {{ app.user.username }} <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i>  {{ 'menu.disconnect'|trans }}</a>

            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation" >
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">


                <li>
                    <a href="{{ path('admin',  {'id_clan': clan.id }) }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>

                <li>
                    <a target="_blank" href="{{ path('coc' , { 'id_clan': clan.id }) }}"><i class="fa fa-arrow-circle-right fa-fw"></i> {{ 'menu.go_site'|trans }}</a>
                </li>

                <li data-step="2" data-position='right' data-intro="{{ 'admin.msg2'|trans }}">
                    <a href="{{ path('admin_clan_editHiring' , { 'id_clan': clan.id }) }}"><i class="fa fa-wifi"></i>  {{ 'menu.visibility'|trans }}</a>
                </li>

                <li data-step="3" data-position='right' data-intro="{{ 'admin.msg3'|trans }}">
                    <a href="{{ path('admin_clan_editPassword' , { 'id_clan': clan.id }) }}"><i class="fa fa-plug"></i>  {{ 'menu.password'|trans }}</a>
                </li>


                <li data-step="4" data-position='right' data-intro="{{ 'admin.msg4'|trans }}">
                    <a href="#"><span class="badge">{{ numberPlayers }}</span> {{ 'menu.players'|trans }} <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ path('admin_players', { 'id_clan': clan.id, 'type' : '0' }) }}">{{ 'menu.players_list'|trans }}</a>
                        </li>

                        <li>
                            <a href="{{ path('admin_player_add', { 'id_clan': clan.id }) }}">{{ 'menu.player_add'|trans }}</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li data-step="5" data-position='right' data-intro="{{ 'admin.msg5'|trans }}">
                    <a href="{{ path('admin_users', { 'id_clan': clan.id }) }}"><span class="badge">{{ numberUsers }}</span> {{ 'menu.accounts'|trans }} ({{ numberUsersNonAssigned }})</a>
                </li>


                <li data-step="6" data-position='right' data-intro="{{ 'admin.msg6'|trans }}">
                    <a href="#"><i class="fa fa-wheelchair"></i>  {{ 'menu.activity'|trans }} <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ path('admin_players_actual_season', { 'id_clan': clan.id }) }}">{{ 'menu.current_season'|trans }}</a>
                        </li>

                        <li>
                            <a href="">{{ 'menu.history_season'|trans }}</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li data-step="7" data-position='right' data-intro="{{ 'admin.msg6'|trans }}">
                    <a href="#"><span class="badge">{{ numberWars }}</span></i> {{ 'menu.wars'|trans }} <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ path('admin_wars', { 'id_clan': clan.id }) }}">{{ 'menu.wars_list'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_war_add', { 'id_clan': clan.id }) }}">{{ 'menu.war_add'|trans }}</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li>
                    <a href="{{ path('admin_bases', { 'id_clan': clan.id }) }}"><span class="badge">{{ numberBases5 + numberBases6 + numberBases7 + numberBases8 + numberBases9 + numberBases10 }}</span></i> {{ 'menu.bases'|trans }} </a>
                </li>


                    <li>
                        <a href="#"><span class="badge">{{ numberVideos }}</span> {{ 'menu.videos'|trans }} <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{ path('admin_video_add', { 'id_clan': clan.id }) }}">{{ 'menu.video_add'|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_videos', { 'id_clan': clan.id }) }}">{{ 'menu.videos_list'|trans }}</a>
                            </li>
                        </ul>
                    </li>


                <li>
                    <a href="{{ path('admin_bestAttacks', { 'id_clan': clan.id }) }}"><span class="badge">{{ numberBestAttacks }}</span></i> {{ 'menu.bestAttacks'|trans }}</a>
                </li>

                <li>
                    <a href="{{ path('admin_imagesBonus', { 'id_clan': clan.id }) }}"><span class="badge">{{ numberImagesBonus }}</span></i> {{ 'menu.bonuses'|trans }} </a>
                </li>





            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>