<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('admin',  {'id_clan': clan.id } ) }}">{{ 'menu.admin_clan'|trans }}</a>
    </div>
    <!-- /.navbar-header -->


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>

            {{ language_switcher|raw  }}

            {% if is_granted('ROLE_ADMIN') and clan.id == app.user.clan.id %}
                <li><a href="{{ path('admin_users', {'id_clan': clan.id }) }}">{{ 'menu.account_non_assigned' | trans }}
                        {%  if (numberUsersNonAssigned > 0) %}
                        <span data-toggle="tooltip" title="{{ 'notif.user_waiting'|trans }}" id='tooltip' class="badge badge-danger"> {{  numberUsersNonAssigned }}</span></a>
                    {% else %}
                        <span data-toggle="tooltip" title="{{ 'notif.user_non_waiting'|trans }}" id='tooltip' class="badge badge-success"> {{  numberUsersNonAssigned }}</span></a>
                    {% endif %}
                </li>
            {% endif %}

            {% if is_granted('ROLE_USER')  %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <i class="fa fa-user fa-fw"></i> {{ app.user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i>  {{ 'menu.disconnect'|trans }}</a>
                            {% endif %}
                            {% if is_granted('ROLE_USER') and clan.id != app.user.clan.id %}
                        <li><a href="{{ path('coc', {'id_clan' : app.user.clan.id }) }}"><i class="fa fa-heart"></i> {{ 'vitrine.my_clan'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </li>

            {% endif %}
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>


<div class="navbar-default sidebar" role="navigation" >
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <li>
                <a href="{{ path('admin',  {'id_clan': clan.id }) }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>

            <li>
                <a target="_blank" href="{{ path('coc' , { 'id_clan': clan.id }) }}"><i class="fa fa-arrow-circle-right fa-fw"></i> {{ 'menu.go_site'|trans }}</a>
            </li>

            <li>
                <a data-step="2" data-position='right' data-intro="{{ 'admin.msg2'|trans }}" href="{{ path('admin_clan_edit', { 'id_clan': clan.id } ) }}"><i class="fa fa-cogs"></i></i>  {{ 'menu.clan_parameters'|trans }}</a>
            </li>


            <li data-step="3" data-position='right' data-intro="{{ 'admin.msg3'|trans }}">
                <a href="#"><span class="badge">{{ numberPlayers }} <i class="fa fa-user"></i> </span> {{ 'menu.players'|trans }} <span class="fa arrow"></span></a>

                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ path('admin_players', { 'id_clan': clan.id, 'type' : '0' }) }}">{{ 'menu.players_list'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_player_add', { 'id_clan': clan.id }) }}"><i class="fa fa-user-plus"></i> {{ 'menu.player_add'|trans }}</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li data-step="4" data-position='right' data-intro="{{ 'admin.msg4'|trans }}">
                <a href="{{ path('admin_users', { 'id_clan': clan.id }) }}">
                    {% if numberUsersNonAssigned > 0 %}
                        <span class="badge badge-danger"> {{ numberUsers }} <i class="fa fa-user"></i></span>
                    {% else %}
                        <span class="badge badge-success"> {{ numberUsers }} <i class="fa fa-user"></i></span>
                    {% endif %}
                    {{ 'menu.accounts'|trans }} ({{ numberUsersNonAssigned }} {{ 'menu.waiting'|trans }})</a>
            </li>


            <li data-step="5" data-position='right' data-intro="{{ 'admin.msg5'|trans }}">

                <a href="{{ path('admin_players_actual_season', { 'id_clan': clan.id }) }}"> <span class="badge">{{ numberPlayers }} <i class="fa fa-wheelchair"></i> </span>  {{ 'menu.activity'|trans }}</a>
            </li>


            <li data-step="6" data-position='right' data-intro="{{ 'admin.msg6'|trans }}">
                <a href="#"><span class="badge">{{ numberWars }}</span></i> {{ 'menu.wars'|trans }} <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ path('admin_wars', { 'id_clan': clan.id }) }}">{{ 'menu.wars_list'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_war_add', { 'id_clan': clan.id }) }}">{{ 'menu.war_add'|trans }}</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="{{ path('admin_bases', { 'id_clan': clan.id }) }}"><span class="badge">{{ numberBases5 + numberBases6 + numberBases7 + numberBases8 + numberBases9 + numberBases10 }}</span></i> {{ 'menu.bases'|trans }} </a>
            </li>

            <li>
                <a href="#"><span class="badge">{{ numberVideos }}</span> {{ 'menu.videos'|trans }} <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ path('admin_video_add', { 'id_clan': clan.id }) }}">{{ 'menu.video_add'|trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_videos', { 'id_clan': clan.id }) }}">{{ 'menu.videos_list'|trans }}</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="{{ path('admin_bestAttacks', { 'id_clan': clan.id }) }}"><span class="badge">{{ numberBestAttacks }}</span></i> {{ 'menu.bestAttacks'|trans }}</a>
            </li>

            <li>
                <a href="{{ path('admin_imagesBonus', { 'id_clan': clan.id }) }}"><span class="badge"> {{ numberImagesBonus }}  <i class="fa fa-picture-o"> </i></span></i> {{ 'menu.bonuses'|trans }} </a>
            </li>

        </ul>





    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>
