{% extends "::base_admin.html.twig" %}
{% set id_clan = clan.id %}

{% block body %}

    <div class="container">
        <h2>{{ 'menu.bestAttack_edit'|trans }}</h2>

        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}

            <div class="form-group">

                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    <img src="{{ asset('uploads/' ~ bestAttack.image.path) }}">
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.gold, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.gold) }}
                <div class="col-sm-4">
                    {{ form_widget(form.gold, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.elixir, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.elixir) }}
                <div class="col-sm-4">
                    {{ form_widget(form.elixir, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>

        {{ form(form)}}
    </div>



{% endblock %}