{% if  app.user.clan.id == id_clan  %}
<!DOCTYPE html>
    <html lang="{{ app.request.locale }}"  >

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="{{ asset('images/fav.png') }}">

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/sb-admin-2.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/metisMenu.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/swipebox.min.css') }}" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ asset('css/intro.css') }}" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ asset('js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


    <script src="{{ asset('js/jquery.swipebox.min.js') }}" type="text/javascript"></script>
    <link rel="icon" type="image/png" href="{{ asset('images/fav.png') }}">
    <![endif]-->

    {% block title %}
        <title>Administration</title>
    {% endblock %}

    <script src="{{ asset('js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script
    <script src="{{ asset('js/jquery.swipebox.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/sb-admin-2.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/metisMenu.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/intro.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootbox.min.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('js/fos_js_routes.js')}}"></script>

    <script>
        function changeLanguage(path, langue, supported) {
            var DATA = "locale=" + langue;
            $.ajax({
                type: "POST",
                url: Routing.generate('homepage', {'_locale': langue}),
                data: DATA,
                success: function (msg) {
                    for (var key in supported) {
                        if (path.indexOf(supported[key]) > -1) {
                            var newPath = path.replace(supported[key], langue);
                            location.href = newPath;
                            return;
                        }
                    }
                    location.href = path + langue;
                    return false;
                },
                error: function (msg) {
                    console.log(msg);
                    return true;
                }
            });
        }
    </script>
</head>
<body>

    <div id="wrapper">
        {{ render(controller('AdminBundle:Default:menu', {'id_clan' : id_clan  })) }}
        <div id="page-wrapper">
            {% block body %}{% endblock %}

        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->


    {% block javascripts %}

    {% endblock %}
</body>
</html>
{% endif %}
