{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}


    <div class="page-header">
        <h1>Connexion</h1>
    </div>


    <div class="row">

        <div class="col-md-6">
            <h4>Pas encore inscrit ?</h4>
            <p>nous vous invitons à vous inscrireafin de passer votre commande et de manger équilibré</p>

            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary" role="button">Inscription</a>


        </div>


        <div class="col-md-6">
            <h4>Connexion</h4>

            <form class="form form-horizontal" role="form" action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input class="form-control" type="password" id="password" name="_password" required="required" />
                    </div>
                </div>

                <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

                {% if error %}
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                {% endif %}



            </form>


        </div>

        <a href="{{ path('fos_user_resetting_request') }}">Mot de passe perdu ?</a>
    </div><!-- End row -->

{% endblock fos_user_content %}






