<div class="row" data-position='top' data-step="5" data-intro="{{ 'intro.step5'|trans }}">
    <div class="col-lg-12 text-center">
        <i class="fa fa-bell-o"></i> {{ 'label.season'|trans }} <i class="fa fa-angle-double-left"></i></i> {{ season.name }} <i class="fa fa-angle-double-right"></i> {{ 'label.ends_in'|trans }} <b>{{ days|round }}{{ 'label.day'|trans }} {{ hours|round }}{{ 'label.hour'|trans }} {{ min|round }}{{ 'label.min'|trans }}</b> <i class="fa fa-bell-o"></i>
    </div>
</div>