{% extends "::base.html.twig" %}
{% set id_clan = clan.id %}
{% set active = "classement" %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/players.css') }}" />
<link rel="stylesheet" href="{{ asset('css/dataTables_BS3.css') }}" />

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <div class="form-horizontal">
                <h1 class="page-header">{{ 'menu.activity'|trans }}
                    <a class="btn btn-normal pull-right btn-primary btn-lg" href="{{ path('coc_players', {'id_clan': clan.id, 'type': '1' }) }}">{{ 'menu.current_season'|trans }}</a>
                </h1>

            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <div class="container">

        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.season, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.season) }}

                <div class="col-sm-4">
                    {{ form_widget(form.season, { 'attr': {'class': 'form-control select_group'} }) }}
                </div>

                <div class="col-sm-4">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>


        <table class="table table-responsive table-striped activity ">
            <thead>
                <tr>
                    <th class="supercell-font text-center">#</th>
                    <th class="supercell-font text-center">{{ 'player.name'|trans }}</th>
                    <th class="supercell-font text-center">{{ 'player.attack'|trans }}</th>
                    <th class="supercell-font text-center"> <i class="fa fa-trophy"></i> {{ 'player.trop'|trans }}</th>
                    <th class="supercell-font text-center">{{ 'player.received'|trans }}</th>
                    <th class="supercell-font text-center">{{ 'player.sent'|trans }} </th>
                    <th class="supercell-font text-center">{{ 'player.updated'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            
            {% if players|length != 0 %}
                {% for player in players %}
                    {%  if app.user.player.id is defined %}
                        {%  if app.user.player.name == player.name %}
                        <tr data-name="{{ player.name }}" class="active">
                        {% else %}
                            <tr data-name="{{ player.name }}" >
                        {% endif %}
                    {% else %}
                        <tr data-name="{{ player.name }}" >
                    {% endif %}

                        <td class="text-center"> {{ loop.index }}</td>
                        <td class="text-center">{{ player.name }}</td>
                        <td class="text-center">{{ player.attackWon }}</td>
                        <td class="text-center">{{ player.trophy }}</td>
                        <td class="text-center">{{ player.troopReceived }}</td>
                        <td class="text-center">{{ player.troopSent }}</td>

                        <td class="text-center">{{ player.updatedAt|date('U')|timeago }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>-</td>
                    <td>0 joueur trouvé</td>
                    <td>-</td>

                    <td></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <hr>


    </div>
    </div>
    <!-- /.container -->

    <footer>
        {{ render(controller('COCBundle:Default:displaySeason')) }}
    </footer>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/dataTables.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/dataTables_BS3.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/players.js') }}" type="text/javascript"></script>
{% endblock %}