    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="supercell-font"> <i class="fa fa-refresh"></i>  {{ 'label.last_updates'|trans }}
                <a class="pull-right" href="{{ path('coc_players', {'id_clan': clan.id, 'type': '0'}) }}">{{ numberPlayers }} members  </a>
            </p>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="list-group">
                {% if players|length != 0 %}
                    <table class="table classement-list datatable">
                        <thead>
                            <tr>
                                <th class="supercell-font">{{ 'player.name'|trans }}</th>
                                <th class="supercell-font">{{ 'player.sent'|trans }}</th>
                                <th class="supercell-font">{{ 'player.received'|trans }}</th>
                                <th class="supercell-font">{{ 'player.trop'|trans }}</th>
                                <th class="supercell-font">{{ 'player.att'|trans }}</th>
                                <th class="supercell-font no-sort"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for player in players %}
                            <tr>
                                <td><a href="{{ path('coc_player', {'id_clan' : clan.id , 'id_player' :  player.id }) }}"> <i class="fa fa-user"></i> {{ player.name }}</a></td>
                                <td>{{ player.troopSent }}</td>
                                <td>{{ player.troopReceived }}</td>
                                <td>{{ player.trophy }}</td>
                                <td>{{ player.attackWon }}</td>
                                <td>{{ player.updatedAt|date('U')|timeago }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-block pull-right btn-primary supercell-font" href="{{ path('coc_players', {'id_clan' : clan.id, 'type' : '0' }) }}">{{ 'coc.visit_ranking'|trans }}</a>

                {% else %}
                    <a href="#" class="list-group-item">

                        <p> <i class="fa fa-twitter fa-fw"></i> {{ 'notPlayerFound'|trans }}</p>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>



