{% extends "::base.html.twig" %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/players.css') }}" />

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Classement général</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <div class="container">


        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}

            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.season, 'Rechercher par saison', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}


                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.season) }}


                <div class="col-sm-4">
                    {# Génération de l'input. #}


                    {{ form_widget(form.season, { 'attr': {'class': 'form-control select_group'}, 'empty_value': '-- Add to Group --' }) }}


                </div>

                <div class="col-sm-4">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>

            </div>

            {{ form_rest(form) }}
            {{ form_end(form) }}


        </div>


        <table class="table classement-list">
            <thead>
                <tr>
                	<th></th>
                    <th class="supercell-font">Nom</th>
                    <th class="supercell-font">Level</th>
                    <th class="supercell-font">Défence</th>
                    <th class="supercell-font">Attaque</th>
                    <th class="supercell-font">Total</th>
                    <th class="supercell-font">Mis à jour</th>

                </tr>
            </thead>
            <tbody>
            
            {% if players|length != 0 %}
                {% for player in players %}
                    <tr>
                    	<td><span class="glyphicon glyphicon-plus" aria-hidden="true" data-name="{{ player.name }}"></span></td>
                        <td>{{ player.name }}</td>
                        <td>{{ player.level }}</td>
                        <td>{{ player.totalDefence|round }}</td>
                        <td>{{ player.totalAttack|round}}</td>
                        <td>{{ player.total|round }}</td>
                        <td>{{ player.updatedAt|date('U')|timeago }}</td>

                    </tr>
                    <tr class="hidden expendables" id="{{ player.name }}">
                    	<td></td>
                    	<td colspan="5">
                    		<div class="row">
                    			<div class="col-md-4">
                    				<p class="supercell-font white-on-black exp-title">Défense</p>
                    				<div class="clearfix">
										<!-- CAONNONS -->
										<p class="cannon pull-left">
											<span>test</span>
											<img src="{{ asset('images/Buildings/Cannon/100px-Cannon6.png') }}" />
										</p>
										<!-- MORTIER -->
										<p class="mortar pull-right">
											<span>test</span>
											<img src="{{ asset('images/Buildings/Mortar/mortar.png') }}" />
										</p>
                    				</div>
                    				<div class="clearfix">
										<!-- ARCHER -->
										<p class="archer-tower pull-left">
											<span>test</span>
											<img src="{{ asset('images/Buildings/Archer_tower/75px-Archer_Tower4.png') }}" />
										</p>
										<!-- WIZARD -->
										<p class="wizard pull-left">
											<span>test</span>
											<img src="{{ asset('images/Buildings/Wizard/wizard.png') }}" />
										</p>
                    				</div>
                    				<div class="clearfix">
										<!-- ANTI AERIEN -->
										<p class="anti-air pull-left">
											<span>test</span>
											<img src="{{ asset('images/Buildings/Anti-air/anti-air.png') }}"/>
										</p>
										<!-- TESLA -->
										<p class="tesla pull-left">
											<span>test</span>
											<img src="{{ asset('images/Buildings/Tesla/tesla.png') }}" />
										</p>
									</div>
                    				<div class="clearfix">
										<!-- ARC-X -->
										<p class="arc-x pull-left">
											<span>test</span>
											<img src="{{ asset('images/Buildings/Arc-X/arc-x.png') }}"/>
										</p>
										<!-- INFERNO -->
										<p class="inferno pull-left">
											<span>test</span>
											<img src="{{ asset('images/Buildings/Inferno/inferno.png') }}"/>
										</p>
									</div>
                    			</div>
                    			<div class="col-md-4">
                    				<p class="supercell-font white-on-black">Laboratoire</p>
                    				<p>
                    					
                    				</p>
                    			</div>
                    		</div>
                    	</td>
                    	<td></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>-</td>
                    <td>0 joueur trouvé</td>
                    <td>-</td>

                    <td></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <hr>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Info!</strong> Les points de défences et attaques sont calculées comme l'exemple suivant:<br><br>
            <strong>Défence:</strong>
            <br> - Canon niveau <strong>5</strong> = (<strong>5</strong>*(<strong>5</strong>-1)) / 2 = <strong>10 points.</strong>
            <br> - Mortier niveau <strong>6</strong> = (<strong>6</strong>*(<strong>6</strong>-1)) / 2 = <strong>15 points.</strong>
            <br><br><strong>Attaque:</strong>
            <br> - Archers niveau <strong>4</strong> = (<strong>4</strong>*(<strong>4</strong>-1)) / 2 = <strong>6 * 5 = 30 points.</strong>
        </div>

        </div>

    </div>
    </div>
    <!-- /.container -->

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/players.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/footable.js') }}" type="text/javascript"></script>
{% endblock %}