{% extends "::base.html.twig" %}

{% block body %}

    <!-- Page Content -->
    <div class="container">
        <hr>
        {# form_start(form, {'action': path('coc_homepage'), 'method': 'GET'}) }} #}

        <table class="table">
            <thead>
            <tr>
                <th>Nom du joueur</th>
                <th>Level</th>
                <th>Défences</th>
                <th>Laboratoire</th>
                <th data-hide="all">

                </th>

            </tr>
            </thead>
            <tbody>

            {% if players|length != 0 %}
                {% for player in players %}
                    <tr>
                        <td>{{ player.name }}</td>
                        <td>{{ player.level }}</td>
                        <td>13000</td>
                        <td>9845</td>
                        <td>

                            <p><img class="img-responsive" src="{{ asset('images/tower_archer.jpg') }}" align="left" /> <b>{{ player.towerArcher1 }} - {{ player.towerArcher2 }} - {{ player.towerArcher3 }} - {{ player.towerArcher4 }}</b></p>

                            <p><img class="img-responsive" src="{{ asset('images/canon.jpg') }}" align="left" /> <b>{{ player.canon1 }} - {{ player.canon2 }} - {{ player.canon3 }} - {{ player.canon4 }}</b></p>
                            <p><img class="img-responsive" src="{{ asset('images/mortier.jpg') }}" align="left" /> <b>{{ player.mortar1 }} - {{ player.mortar2 }} - {{ player.mortar3 }}</b></p>
                            <p><img class="img-responsive" src="{{ asset('images/anti_aerien.jpg') }}" align="left" /> <b>5 - 2 - 4</b></p>
                            <p><img class="img-responsive" src="{{ asset('images/dragon.png') }}" align="left" /> <b>{{ player.dragon }}</b></p>
                            <p>
                                <img class="img-responsive" src="{{ asset('images/wizard.jpg') }}" align="block" /> <b>{{ player.wizard }}</b>
                                <img class="img-responsive" src="{{ asset('images/barbar.jpg') }}" align="block" /> <b>{{ player.barbar }}</b>
                            </p>




                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>-</td>
                    <td>0 joueur trouvé</td>
                    <td>-</td>

                    <td></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/footable.js') }}" type="text/javascript"></script>
{% endblock %}