{% extends "::base.html.twig" %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/players.css') }}" />

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Classement général</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <div class="container">


        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}

            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.season, 'Rechercher par saison', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}


                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.season) }}


                <div class="col-sm-4">
                    {# Génération de l'input. #}


                    {{ form_widget(form.season, { 'attr': {'class': 'form-control select_group'}, 'empty_value': '-- Add to Group --' }) }}


                </div>

                <div class="col-sm-4">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>

            </div>

            {{ form_rest(form) }}
            {{ form_end(form) }}


        </div>


        <table class="table classement-list">
            <thead>
                <tr>
                	<th></th>
                    <th class="supercell-font">Nom</th>
                    <th class="supercell-font">Level</th>
                    <th class="supercell-font">Défence</th>
                    <th class="supercell-font">Attaque</th>
                    <th class="supercell-font">Total</th>
                    <th class="supercell-font">Mis à jour</th>

                </tr>
            </thead>
            <tbody>
            
            {% if players|length != 0 %}
                {% for player in players %}
                    <tr>
                    	<td><span class="glyphicon glyphicon-plus" aria-hidden="true" data-name="{{ player.name }}"></span></td>
                        <td>{{ player.name }}</td>
                        <td>{{ player.level }}</td>
                        <td>{{ player.totalDefence|round }}</td>
                        <td>{{ player.totalAttack|round}}</td>
                        <td>{{ player.total|round }}</td>
                        <td>{{ player.updatedAt|date('U')|timeago }}</td>

                    </tr>
                    <tr class="hidden expendables" id="{{ player.name }}">
                    	<td></td>
                    	<td colspan="6">
                    		<div class="row">
                    			<div class="col-md-12">
                    				<p class="supercell-font white-on-black exp-title">Défense</p>
                    				<div class="clearfix">
										<!-- CAONNONS -->
										{% if player.canon1 != 0 %}
										<p class="cannon">
											<span>
												{{player.canon1}}
												{% if player.canon2 != 0 %} - {{player.canon2}} {% endif %}
												{% if player.canon3 != 0 %} - {{player.canon3}} {% endif %}
												{% if player.canon4 != 0 %} - {{player.canon4}} {% endif %}
												{% if player.canon5 != 0 %} - {{player.canon5}} {% endif %}
												{% if player.canon6 != 0 %} - {{player.canon6}} {% endif %}
											</span>
											<img src="{{ asset('images/Buildings/Cannon/100px-Cannon6.png') }}" />
										</p>
										{% endif %}
										<!-- ARCHER -->
										{% if player.tower_archer1 != 0 %}
										<p class="archer-tower">
											<span>
												{{player.tower_archer1}}
												{% if player.tower_archer2 != 0 %} - {{player.tower_archer2}} {% endif %}
												{% if player.tower_archer3 != 0 %} - {{player.tower_archer3}} {% endif %}
												{% if player.tower_archer4 != 0 %} - {{player.tower_archer4}} {% endif %}
												{% if player.tower_archer5 != 0 %} - {{player.tower_archer5}} {% endif %}
												{% if player.tower_archer6 != 0 %} - {{player.tower_archer6}} {% endif %}
												{% if player.tower_archer7 != 0 %} - {{player.tower_archer7}} {% endif %}
											</span>
											<img src="{{ asset('images/Buildings/Archer_tower/75px-Archer_Tower4.png') }}" />
										</p>
										{% endif %}
										<!-- MORTIER -->
										{% if player.mortar1 != 0 %} 
										<p class="mortar">
											<span>
												{{player.mortar1}}
												{% if player.mortar2 != 0 %} - {{player.mortar2}} {% endif %}
												{% if player.mortar3 != 0 %} - {{player.mortar3}} {% endif %}
												{% if player.mortar4 != 0 %} - {{player.mortar4}} {% endif %}
											</span>
											<img src="{{ asset('images/Buildings/Mortar/mortar.png') }}" />
										</p>
										{% endif %}
										<!-- ANTI AERIEN -->
										{% if player.air_defence1 != 0 %} 
										<p class="anti-air">
											<span>
												{{player.air_defence1}}
												{% if player.air_defence2 != 0 %} - {{player.air_defence2}} {% endif %}
												{% if player.air_defence3 != 0 %} - {{player.air_defence3}} {% endif %}
												{% if player.air_defence4 != 0 %} - {{player.air_defence4}} {% endif %}
											</span>
											<img src="{{ asset('images/Buildings/Anti-air/anti-air.png') }}"/>
										</p>
										{% endif %}
										<!-- WIZARD -->
										{% if player.tower_magic1 != 0 %} 
										<p class="wizard">
											<span>
												{{player.tower_magic1}} 
												{% if player.tower_magic2 != 0 %} - {{player.tower_magic2}} {% endif %}
												{% if player.tower_magic3 != 0 %} - {{player.tower_magic3}} {% endif %}
												{% if player.tower_magic4 != 0 %} - {{player.tower_magic4}} {% endif %}
											</span>
											<img src="{{ asset('images/Buildings/Wizard/wizard.png') }}" />
										</p>
										{% endif %}
										<!-- TESLA -->
										{% if player.tesla1 != 0 %}
										<p class="tesla">
											<span>
												{{player.tesla1}}
												{% if player.tesla2 != 0 %} - {{player.tesla2}} {% endif %}
												{% if player.tesla3 != 0 %} - {{player.tesla3}} {% endif %}
												{% if player.tesla4 != 0 %} - {{player.tesla4}} {% endif %}
											</span>
											<img src="{{ asset('images/Buildings/Tesla/tesla.png') }}" />
										</p>
										{% endif %}
										<!-- ARC-X -->
										{% if player.arcx1 != 0 %}
										<p class="arc-x">
											<span>
												 {{player.arcx1}} 
												{% if player.arcx2 != 0 %} - {{player.arcx2}} {% endif %}	
												{% if player.arcx3 != 0 %} - {{player.arcx3}} {% endif %}	
											</span>
											<img src="{{ asset('images/Buildings/Arc-X/arc-x.png') }}"/>
										</p>
										{% endif %}
										<!-- INFERNO -->
										{% if player.inferno1 != 0 %}
										<p class="inferno">
											<span>
												 {{player.inferno1}} 
												{% if player.inferno2 != 0 %} - {{player.inferno2}} {% endif %}	
											</span>
											<img src="{{ asset('images/Buildings/Inferno/inferno.png') }}"/>
										</p>
										{% endif %}
									</div>
                    			</div>
                    			<div class="col-md-12">
                    				<p class="supercell-font white-on-black">Laboratoire</p>
                    				<p>
                    					
                    				</p>
                    			</div>
                    		</div>
                    	</td>
                    	<td></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>-</td>
                    <td>0 joueur trouvé</td>
                    <td>-</td>

                    <td></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <hr>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Info!</strong> Les points de défences et attaques sont calculées comme l'exemple suivant:<br><br>
            <strong>Défence:</strong>
            <br> - Canon niveau <strong>5</strong> = (<strong>5</strong>*(<strong>5</strong>-1)) / 2 = <strong>10 points.</strong>
            <br> - Mortier niveau <strong>6</strong> = (<strong>6</strong>*(<strong>6</strong>-1)) / 2 = <strong>15 points.</strong>
            <br><br><strong>Attaque:</strong>
            <br> - Archers niveau <strong>4</strong> = (<strong>4</strong>*(<strong>4</strong>-1)) / 2 = <strong>6 * 5 = 30 points.</strong>
        </div>

        </div>

    </div>
    </div>
    <!-- /.container -->

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/players.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/footable.js') }}" type="text/javascript"></script>
{% endblock %}