{% extends "::base.html.twig" %}
{% set id_clan = clan.id %}
{% set active = "" %}

 {% block title %}
     <title>{{ 'menu.my_player'|trans }}</title>
 {% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/myPlayer.css') }}" />
    <div class="container white-bg rounded-corners">
        <div class="row">
            <div class="col-md-12">
                <div><h2>
                    {{ player.name }}
                    <small>{{ player.trophy|division|raw }} {{ player.updatedAt|date('U')|timeago }}</small>
                    </h2>
                </div>
                <span class="text-nowrap pull-right" scope="row">
                      <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">All players
                              <span class="caret"></span></button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                              {% for player in players %}
                                  <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ path('coc_player', {'id_clan' : clan.id , 'id_player' :  player.id }) }}">{{ player.name }}</a></li>
                              {% endfor %}
                          </ul>
                      </div>
                </span>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-5">
                            {% if player.picture.path is defined %}
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <a rel="gallery-1 "  href="{{ asset(player.picture.getWebPath(clan)) }}" class="swipebox text-center" title="">
                                            <img  class="img-responsive " src="{{ asset(player.picture.getWebPath(clan)) }}" />
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <img class="img-responsive" src="{{ asset('images/non_available_picture.jpg') }}" />
                            {% endif %}
                            {% if app.user.player.id is defined and app.user.player.id == player.id %}
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="previous">
                                            {{ form_start(form) }}
                                            {{ form_errors(form) }}
                                            {{ form_errors(form.picture) }}
                                            {{ form_widget(form.picture, {'attr': {'class': 'filestyle'}}) }}
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="next">
                                            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                                            {{ form_rest(form) }}
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-7">
                            <div class="row info ">
                                <div class="col-md-12">
                                    <h2><i class="fa fa-area-chart"></i> {{ player.total }}  <small class="pull-right"> {{ positions['total']}} {{ positions['total']|position }} </small></h2>
                                </div>
                                <table class="table table-bordered table-striped table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Total per seasons</th>
                                        <th class="text-center"  colspan="2" >Previous </th>
                                        <th class="text-center">Current</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-nowrap" scope="row"><i class="fa fa-rocket"></i> {{ 'player.attackWon'|trans }}</td>
                                            <td class="text-muted small text-center">
                                                {% if playerPreviousSeason.attackWon is defined %}
                                                    {{ playerPreviousSeason.attackWon }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                            <td class="text-muted small text-center">
                                                {%  if positions['attackWon'] is defined %}
                                                    {{ positions['attackWon']}} {{ positions['attackWon']|position }}
                                                {% endif%}
                                            </td>
                                            <td class="text-nowrap small text-center">{{ player.attackWon }}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-nowrap" scope="row"><i class="fa fa-rocket"></i> {{ 'player.trophy'|trans }}</td>
                                            <td class="text-muted small text-center">
                                                {% if playerPreviousSeason.trophy is defined %}
                                                    {{ playerPreviousSeason.trophy }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                            <td class="text-muted small text-center">
                                                {%  if positions['trophy'] is defined %}
                                                    {{ positions['trophy']}} {{ positions['trophy']|position }}
                                                {% endif%}
                                            </td>
                                            <td class="text-nowrap small text-center">{{ player.trophy }}  </td>
                                        </tr>

                                        <tr>
                                            <td class="text-nowrap" scope="row"><i class="fa fa-rocket"></i> {{ 'player.troopSent'|trans }}</td>
                                            <td class="text-muted small text-center">
                                                {% if playerPreviousSeason.troopSent is defined %}
                                                    {{ playerPreviousSeason.troopSent }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                            <td class="text-muted small text-center">
                                                {%  if positions['troopSent'] is defined %}
                                                    {{ positions['troopSent']}} {{ positions['troopSent']|position }}
                                                {% endif%}
                                            </td>
                                            <td class="text-nowrap small text-center">{{ player.troopSent }}</td>
                                        </tr>

                                        <tr>
                                            <td class="text-nowrap" scope="row"><i class="fa fa-rocket"></i> {{ 'player.troopReceived'|trans }}</td>
                                            <td class="text-muted small text-center">
                                                {% if playerPreviousSeason.troopReceived is defined %}
                                                    {{ playerPreviousSeason.troopReceived }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                            <td class="text-muted small text-center">
                                                {%  if positions['troopReceived'] is defined %}
                                                    {{ positions['troopReceived']}} {{ positions['troopReceived']|position }}
                                                {% endif%}
                                            </td>
                                            <td class="text-nowrap small text-center">{{ player.troopReceived }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class="table table-bordered table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="text-center">{{ 'player.quantity_per_day'|trans }}</th>
                                            <th class="text-center">{{ 'player.quantity_max_per_day'|trans }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-nowrap" scope="row"><i class="fa fa-rocket"></i> Gold</td>
                                            <td class="text-muted small text-center"><b>{{ myGold * 24 }}</b> </td>
                                            <td class="text-muted small text-center"><b>{{ maxElixirGold * 24 }}</b> </td>
                                        </tr>

                                        <tr>
                                            <td class="text-nowrap" scope="row"><i class="fa fa-trophy"></i>  Elixir</td>
                                            <td class="text-muted small text-center"><b>{{ myElixir * 24 }}</b> </td>
                                            <td class="text-muted small text-center"><b>{{ maxElixirGold * 24 }}</b> </td>
                                        </tr>
                                        <tr>
                                            <td class="text-nowrap" scope="row"><i class="fa fa-arrow-circle-right"></i> D4rk Elixir</td>
                                            <td class="text-muted  small text-center"><b> {{ myDarkElixir * 24 }} </b> </td>
                                            <td class="text-muted small text-center"><b>{{ maxDarkElixir * 24 }}</b> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    {% if app.user.player.id is defined and app.user.player.id == player.id %}
                        <a class="btn btn-primary btn-block" href="{{ path('coc_player_edit', {'id': app.user.player.id ,'id_clan': clan.id }) }}"><b> {{ 'menu.edit_base'|trans }}</b></a>
                    {% endif %}
                    <br>
                    {% if player.base.path is defined %}
                        <a rel="gallery-1"  href="{{ asset(player.base.getWebPath(clan)) }}" class="swipebox" title="">
                            <img  class="img-responsive"src="{{ asset(player.base.getWebPath(clan)) }}" />
                        </a>
                    {% else %}
                        <img class="img-responsive" src="{{ asset('images/non_available.jpg') }}" />
                    {% endif %}



                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <h3>Information</h3>
                </div>
                <div class="col-md-8 info-player-defence">
                    <div class="row">
                        <span class="supercell-font white-on-black exp-title clearfix expand-title">{{ 'player.defence'|trans }}</span>
                        <!-- CAONNONS -->
                        {% if player.canon1 != 0 %}
                            <div class="col-md-6 cannon">
                                        <span>
                                            {{player.canon1}}
                                            {% if player.canon2 != 0 %} - {{player.canon2}} {% endif %}
                                            {% if player.canon3 != 0 %} - {{player.canon3}} {% endif %}
                                            {% if player.canon4 != 0 %} - {{player.canon4}} {% endif %}
                                            {% if player.canon5 != 0 %} - {{player.canon5}} {% endif %}
                                            {% if player.canon6 != 0 %} - {{player.canon6}} {% endif %}
                                        </span>
                                <img src="{{ asset('images/Buildings/Cannon/100px-Cannon6.png') }}" />
                            </div>
                        {% endif %}
                        <!-- ARCHER -->
                        {% if player.towerarcher1 != 0 %}
                            <div class="col-md-6 archer-tower">
                                        <span>
                                            {{player.towerarcher1}}
                                            {% if player.towerarcher2 != 0 %} - {{player.towerarcher2}} {% endif %}
                                            {% if player.towerarcher3 != 0 %} - {{player.towerarcher3}} {% endif %}
                                            {% if player.towerarcher4 != 0 %} - {{player.towerarcher4}} {% endif %}
                                            {% if player.towerarcher5 != 0 %} - {{player.towerarcher5}} {% endif %}
                                            {% if player.towerarcher6 != 0 %} - {{player.towerarcher6}} {% endif %}
                                            {% if player.towerarcher7 != 0 %} - {{player.towerarcher7}} {% endif %}
                                        </span>
                                <img src="{{ asset('images/Buildings/Archer_tower/75px-Archer_Tower4.png') }}" />
                            </div>
                        {% endif %}
                        <!-- MORTIER -->
                        {% if player.mortar1 != 0 %}
                            <div class="col-md-6 mortar">
                                        <span>
                                            {{player.mortar1}}
                                            {% if player.mortar2 != 0 %} - {{player.mortar2}} {% endif %}
                                            {% if player.mortar3 != 0 %} - {{player.mortar3}} {% endif %}
                                            {% if player.mortar4 != 0 %} - {{player.mortar4}} {% endif %}
                                        </span>
                                <img src="{{ asset('images/Buildings/Mortar/mortar.png') }}" />
                            </div>
                        {% endif %}
                        <!-- ANTI AERIEN -->
                        {% if player.airdefence1 != 0 %}
                            <div class="col-md-6 anti-air">
                                        <span>
                                            {{player.airdefence1}}
                                            {% if player.airdefence2 != 0 %} - {{player.airdefence2}} {% endif %}
                                            {% if player.airdefence3 != 0 %} - {{player.airdefence3}} {% endif %}
                                            {% if player.airdefence4 != 0 %} - {{player.airdefence4}} {% endif %}
                                        </span>
                                <img src="{{ asset('images/Buildings/Anti-air/anti-air.png') }}"/>
                            </div>
                        {% endif %}
                        <!-- WIZARD -->
                        {% if player.towermagic1 != 0 %}
                            <div class="col-md-6 wizard">
                                        <span>
                                            {{ player.towermagic1 }}
                                            {% if player.towermagic2 != 0 %} - {{player.towermagic2}} {% endif %}
                                            {% if player.towermagic3 != 0 %} - {{player.towermagic3}} {% endif %}
                                            {% if player.towermagic4 != 0 %} - {{player.towermagic4}} {% endif %}
                                        </span>
                                <img src="{{ asset('images/Buildings/Wizard/wizard.png') }}" />
                            </div>
                        {% endif %}
                        <!-- TESLA -->
                        {% if player.tesla1 != 0 %}
                            <div class="col-md-6 tesla">
                                        <span>
                                            {{ player.tesla1 }}
                                            {% if player.tesla2 != 0 %} - {{player.tesla2}} {% endif %}
                                            {% if player.tesla3 != 0 %} - {{player.tesla3}} {% endif %}
                                            {% if player.tesla4 != 0 %} - {{player.tesla4}} {% endif %}
                                        </span>
                                <img src="{{ asset('images/Buildings/Tesla/tesla.png') }}" />
                            </div>
                        {% endif %}
                        <!-- ARC-X -->
                        {% if player.arcx1 != 0 %}
                            <div class="col-md-6 arc-x">
                                        <span>
                                             {{player.arcx1}}
                                            {% if player.arcx2 != 0 %} - {{player.arcx2}} {% endif %}
                                            {% if player.arcx3 != 0 %} - {{player.arcx3}} {% endif %}
                                        </span>
                                <img src="{{ asset('images/Buildings/Arc-X/arc-x.png') }}"/>
                            </div>
                        {% endif %}
                        <!-- INFERNO -->
                        {% if player.inferno1 != 0 %}
                            <div class="col-md-6 inferno">
                                        <span>
                                             {{player.inferno1}}
                                            {% if player.inferno2 != 0 %} - {{player.inferno2}} {% endif %}
                                        </span>
                                <img src="{{ asset('images/Buildings/Inferno/inferno.png') }}"/>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 info-player-ressources">
                    <div class="row">
                        <span class="supercell-font white-on-black clearfix expand-title">{{ 'player.ressources'|trans }}</span>
                        <!-- GOLD -->
                        {% if player.gold1 != 0 %}
                            <div class="col-md-12 gold">
                                        <span>
                                             {{player.gold1}}
                                            {% if player.gold2 != 0 %} - {{player.gold2}} {% endif %}
                                            {% if player.gold3 != 0 %} - {{player.gold3}} {% endif %}
                                            {% if player.gold4 != 0 %} - {{player.gold4}} {% endif %}
                                            {% if player.gold5 != 0 %} - {{player.gold5}} {% endif %}
                                            {% if player.gold6 != 0 %} - {{player.gold6}} {% endif %}
                                            {% if player.gold7 != 0 %} - {{player.gold7}} {% endif %}
                                        </span>
                                <img src="{{ asset('images/ressources/gold.png') }}"/>
                            </div>
                        {% endif %}
                        <!-- ELIXIR -->
                        {% if player.elixir1 != 0 %}
                            <div class="col-md-12 elixir">
                                        <span>
                                             {{player.elixir1}}
                                            {% if player.elixir2 != 0 %} - {{player.elixir2}} {% endif %}
                                            {% if player.elixir3 != 0 %} - {{player.elixir3}} {% endif %}
                                            {% if player.elixir4 != 0 %} - {{player.elixir4}} {% endif %}
                                            {% if player.elixir5 != 0 %} - {{player.elixir5}} {% endif %}
                                            {% if player.elixir6 != 0 %} - {{player.elixir6}} {% endif %}
                                            {% if player.elixir7 != 0 %} - {{player.elixir7}} {% endif %}
                                        </span>
                                <img src="{{ asset('images/ressources/elixir.png') }}"/>
                            </div>
                        {% endif %}
                        <!-- DARK ELIXIR -->
                        {% if player.darkElixir1 != 0 %}
                            <div class="col-md-12 dark-elixir">
                                        <span>
                                             {{player.darkElixir1}}
                                            {% if player.darkElixir2 != 0 %} - {{player.darkElixir2}} {% endif %}
                                            {% if player.darkElixir3 != 0 %} - {{player.darkElixir3}} {% endif %}
                                        </span>
                                <img src="{{ asset('images/ressources/darkelixir.png') }}"/>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row info-player-attack"><br />
                <div class="col-md-12">
                    <div class="row">
                        <span class="supercell-font white-on-black clearfix expand-title">{{ 'player.labotory'|trans }}</span>
                        <div class="col-md-12">
                            <div class="portrait">
                                <div>{% if player.king != 0 %}{{player.king}}{% endif %}</div>
                                <img src="{% if player.king != 0 %}{{ asset('images/laboratoire/king.jpg') }}{% else %}{{ asset('images/laboratoire/king0.jpg') }}{% endif %}"/>
                            </div>
                            <div class="portrait">
                                <div>{% if player.queen != 0 %}{{player.queen}}{% endif %}</div>
                                <img src="{% if player.queen != 0 %}{{ asset('images/laboratoire/queen.jpg') }}{% else %}{{ asset('images/laboratoire/queen0.jpg') }}{% endif %}"/>
                            </div>
                            <div class="portrait" style="width: 47px;"></div>
                            <div class="portrait">
                                <div>{% if player.potiondamage != 0 %}{{player.potiondamage}}{% endif %}</div>
                                <img src="{% if player.potiondamage != 0 %}{{ asset('images/laboratoire/potion_damage.jpg') }}{% else %}{{ asset('images/laboratoire/potion_damage0.jpg') }}{% endif %}"/>
                            </div>
                            <div class="portrait">
                                <div>{% if player.potionheal != 0 %}{{player.potionheal}}{% endif %}</div>
                                <img src="{% if player.potionheal != 0 %}{{ asset('images/laboratoire/potion_heal.jpg') }}{% else %}{{ asset('images/laboratoire/potion_heal0.jpg') }}{% endif %}"/>
                            </div>
                            <div class="portrait">
                                <div>{% if player.potionboost != 0 %}{{player.potionboost}}{% endif %}</div>
                                <img src="{% if player.potionboost != 0 %}{{ asset('images/laboratoire/potion_boost.jpg') }}{% else %}{{ asset('images/laboratoire/potion_boost0.jpg') }}{% endif %}"/>
                            </div>
                            <div class="portrait">
                                <div>{% if player.potiongreen != 0 %}{{player.potiongreen}}{% endif %}</div>
                                <img src="{% if player.potiongreen != 0 %}{{ asset('images/laboratoire/potion_green.jpg') }}{% else %}{{ asset('images/laboratoire/potion_green0.jpg') }}{% endif %}"/>
                            </div>
                            <div class="portrait">
                                <div>{% if player.potionfreeze != 0 %}{{player.potionfreeze}}{% endif %}</div>
                                <img src="{% if player.potionfreeze != 0 %}{{ asset('images/laboratoire/potion_freeze.jpg') }}{% else %}{{ asset('images/laboratoire/potion_freeze0.jpg') }}{% endif %}"/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="portrait">
                                <div>{% if player.barbar != 0 %}{{player.barbar}}{% endif %}</div>
                                <img src="{% if player.barbar != 0 %}{{ asset('images/laboratoire/barbar.jpg') }}{% else %}{{ asset('images/laboratoire/barbar.jpg') }}{% endif %}"/>
                            </div>
                            <div class="portrait">
                                <div>{% if player.archer != 0 %}{{player.archer}}{% endif %}</div>
                                <img src="{% if player.archer != 0 %}{{ asset('images/laboratoire/archer.jpg') }}{% else %}{{ asset('images/laboratoire/archer0.jpg') }}{% endif %}"/></div>
                            <div class="portrait">
                                <div>{% if player.geant != 0 %}{{player.geant}}{% endif %}</div>
                                <img src="{% if player.geant != 0 %}{{ asset('images/laboratoire/geant.jpg') }}{% else %}{{ asset('images/laboratoire/geant0.jpg') }}{% endif %}"/>
                            </div>
                            <div class="portrait">
                                <div>{% if player.gobelin != 0 %}{{player.gobelin}}{% endif %}</div>
                                <img src="{% if player.gobelin != 0 %}{{ asset('images/laboratoire/gobelin.jpg') }}{% else %}{{ asset('images/laboratoire/gobelin0.jpg') }}{% endif %}"/>
                            </div>
                            <div class="portrait">
                                <div>{% if player.ballon != 0 %}{{player.ballon}}{% endif %}</div>
                                <img src="{% if player.ballon != 0 %}{{ asset('images/laboratoire/ballon.jpg') }}{% else %}{{ asset('images/laboratoire/ballon0.jpg') }}{% endif %}"/>
                            </div>
                            <div class="portrait">
                                <div>{% if player.wizard != 0 %}{{player.wizard}}{% endif %}</div>
                                <img src="{% if player.wizard != 0 %}{{ asset('images/laboratoire/wizard.jpg') }}{% else %}{{ asset('images/laboratoire/wizard0.jpg') }}{% endif %}"/>
                            </div>
                            <div class="portrait">
                                <div>{% if player.healer != 0 %}{{player.healer}}{% endif %}</div>
                                <img src="{% if player.healer != 0 %}{{ asset('images/laboratoire/healer.jpg') }}{% else %}{{ asset('images/laboratoire/healer0.jpg') }}{% endif %}"/>
                            </div>
                            <div class="portrait">
                                <div>{% if player.dragon != 0 %}{{player.dragon}}{% endif %}</div>
                                <img src="{% if player.dragon != 0 %}{{ asset('images/laboratoire/dragon.jpg') }}{% else %}{{ asset('images/laboratoire/dragon0.jpg') }}{% endif %}"/>
                            </div>
                            <div class="portrait">
                                <div>{% if player.pekka != 0 %}{{player.pekka}}{% endif %}</div>
                                <img src="{% if player.pekka != 0 %}{{ asset('images/laboratoire/pekka.jpg') }}{% else %}{{ asset('images/laboratoire/pekka0.jpg') }}{% endif %}"/>
                            </div>
                            <div class="portrait">
                                <div>{% if player.minion != 0 %}{{player.minion}}{% endif %}</div>
                                <img src="{% if player.minion != 0 %}{{ asset('images/laboratoire/minion.jpg') }}{% else %}{{ asset('images/laboratoire/minion0.jpg') }}{% endif %}"/>
                            </div>
                            <div class="portrait">
                                <div>{% if player.rider != 0 %}{{player.rider}}{% endif %}</div>
                                <img src="{% if player.rider != 0 %}{{ asset('images/laboratoire/rider.jpg') }}{% else %}{{ asset('images/laboratoire/rider0.jpg') }}{% endif %}"/>
                            </div>
                            <div class="portrait">
                                <div>{% if player.valkyrie != 0 %}{{player.valkyrie}}{% endif %}</div>
                                <img src="{% if player.valkyrie != 0 %}{{ asset('images/laboratoire/valkyrie.jpg') }}{% else %}{{ asset('images/laboratoire/valkyrie0.jpg') }}{% endif %}"/>
                            </div>
                            <div class="portrait">
                                <div>{% if player.golem != 0 %}{{player.golem}}{% endif %}</div>
                                <img src="{% if player.golem != 0 %}{{ asset('images/laboratoire/golem.jpg') }}{% else %}{{ asset('images/laboratoire/golem0.jpg') }}{% endif %}"/>
                            </div>
                            <div class="portrait">
                                <div>{% if player.witch != 0 %}{{player.witch}}{% endif %}</div>
                                <img src="{% if player.witch != 0 %}{{ asset('images/laboratoire/witch.jpg') }}{% else %}{{ asset('images/laboratoire/witch0.jpg') }}{% endif %}"/>
                            </div>
                            <div class="portrait">
                                <div>{% if player.lava != 0 %}{{player.lava}}{% endif %}</div>
                                <img src="{% if player.lava != 0 %}{{ asset('images/laboratoire/lava.jpg') }}{% else %}{{ asset('images/laboratoire/lava0.jpg') }}{% endif %}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-12"><h3>{{ 'chart.stat'|trans }}</h3></div>
                <div class="col-md-6">
                    <h4>{{ 'chart.attack'|trans }}</h4>
                    <canvas id="chart-attacks"></canvas>
                </div>
                <div class="col-md-6">
                    <h4>{{ 'chart.troop'|trans }}</h4>
                    <canvas id="chart-activity"></canvas>
                </div>
                <div class="col-md-6">
                    <h4>{{ 'chart.total'|trans }}</h4>
                    <canvas id="chart-total"></canvas>
                </div>
                <div class="col-md-6">
                    <h4>{{ 'chart.trophy'|trans }}</h4>
                    <canvas id="chart-trophy"></canvas>
                </div>
            </div>


        </div>

    </div>
    <footer>
        {{ render(controller('COCBundle:Default:displaySeason')) }}
    </footer>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/input_file.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jchart.js') }}" type="text/javascript"></script>
    <script>
        var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

        //console.log('');
       // var label_chart =  [{% for season in seasons %}'{{ season.name }}',{%endfor  %}];
        var label_chart =  [{% for hist in history %}'{{ hist.season.name }}',{%endfor  %}'{{ actualSeason.name }}',];
        var result_attackWon =  [{% for hist in history %}'{{ hist.attackWon }}',{%endfor  %}'{{ player.attackWon }}',];
        var result_troopSent =  [{% for hist in history %}'{{ hist.troopSent }}',{%endfor  %}'{{ player.troopSent }}',];
        var result_trophy =  [{% for hist in history %}'{{ hist.trophy }}',{%endfor  %}'{{ player.trophy }}',];
        var result_troopReceived =  [{% for hist in history %}'{{ hist.troopReceived }}',{%endfor  %}'{{ player.troopReceived }}',];
        var result_total =  [{% for hist in history %}'{{ hist.total }}',{%endfor  %}'{{ player.total }}',];
       //var label = '{##} seasons #} '.replace(/&#039;/g, "'");
       // console.log(label);
        //console.log(label);
        var attackChartData = {

            labels : label_chart,
            datasets : [
                {
                    label: "Attacks",
                    fillColor : "rgba(220,220,220,0.2)",
                    strokeColor : "rgba(0,128,0,0.9)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    pointHighlightFill : "#fff",
                    pointHighlightStroke : "rgba(220,220,220,1)",
                    
                    data : result_attackWon
                },

            ]

        }

        var trophyChartData = {
            labels : label_chart,
            datasets : [
                {
                    label: "Trophies",
                    strokeColor : "green",
                    pointColor : "green",
                    pointStrokeColor : "green",
                    pointHighlightStroke : "rgba(220,220,220,1)",
                    data : result_trophy
                }
            ]

        }


        var totalChartData = {

            labels : label_chart,
            datasets : [
                {
                    label: "Attacks",
                    fillColor : "green",
                    strokeColor : "#9CFF88",
                    pointColor : "orange",
                    pointStrokeColor : "#fff",
                    pointHighlightFill : "white",
                    pointHighlightStroke : "rgba(220,220,220,1)",

                    data : result_total
                },

            ]

        }


        var activityChartData = {

            labels : label_chart,
            datasets : [
                {
                    label: "Troops Sent",
                    strokeColor : "green",
                    pointColor : "green",
                    pointStrokeColor : "green",
                    pointHighlightStroke : "rgba(220,220,220,1)",
                    data : result_troopSent

                },
                {
                    label: "Troops Received",
                    strokeColor : "red",
                    pointColor : "red",
                    pointStrokeColor : "red",
                    pointHighlightFill : "red",
                    pointHighlightStroke : "red",
                    data : result_troopReceived
                }
            ]
        }



        window.onload = function(){
            var ctxAttacks = document.getElementById("chart-attacks").getContext("2d");
            window.myLine = new Chart(ctxAttacks).Line(attackChartData, {
//String - Colour of the grid lines
                scaleGridLineColor : "rgba(200,200,200,.05)",

                responsive: true,
                scaleOverride: false,
                scaleSteps: 10,
                scaleStepWidth: Math.ceil(120 / 10),
                scaleStartValue: 0,
                bezierCurve : false,
                scaleShowGridLines : true
            });

            var ctxActivity = document.getElementById("chart-activity").getContext("2d");
            window.myLine = new Chart(ctxActivity).Line(activityChartData, {
//String - Colour of the grid lines
                scaleGridLineColor : "rgba(200,200,200,.05)",
                responsive: true,
                scaleOverride: false,
                datasetFill : false,
                scaleSteps: 7,
                scaleStepWidth: 300,
                scaleStartValue: 0,
                bezierCurve : false,
                scaleShowGridLines : true
            });


            var ctxTrophy = document.getElementById("chart-trophy").getContext("2d");
            window.myLine = new Chart(ctxTrophy).Line(trophyChartData, {
//String - Colour of the grid lines
                scaleGridLineColor : "rgba(200,200,200,.05)",
                responsive: true,
                scaleOverride: false,
                datasetFill : false,
                scaleSteps: 7,
                scaleStepWidth: 300,
                scaleStartValue: 0,
                bezierCurve : false,
                scaleShowGridLines : true
            });

            var ctxTotal = document.getElementById("chart-total").getContext("2d");
            window.myLine = new Chart(ctxTotal).Line(totalChartData, {
//String - Colour of the grid lines
                scaleGridLineColor : "rgba(200,200,200,.05)",
                responsive: true

            });


        }


    </script>
{% endblock %}

