{% extends "::base_admin.html.twig" %}
{% set id_clan = clan.id %}

{% set is_super_admin = false %}
{% if app.security.token.user.roles is iterable %}
    {% for role in app.security.token.user.roles %}
        {% if role == 'ROLE_SUPER_ADMIN' and role == 'ROLE_ADMIN'  %}
            {% set is_admin = true %}
        {% endif %}
    {% endfor %}
{% endif %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Liste des comptes</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <ol class="breadcrumb">
        <li><a href="{{ path('admin', { 'id_clan': clan.id }) }}"><p class="fa fa-home"></p> Dashboard</a></li>
        <li class="active">Comptes</li>
    </ol>

    <!-- Page Content -->
    <div class="container">


        <table class="table">
            <thead>
                <tr>
                    <th>Nom de compte</th>
                    <th>Joueur assigné</th>
                    <th>Nom du joueur</th>
                    <th>Association</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            {% if users|length != 0 %}
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>

                        {% if user.player.id is defined %}
                            <td>Oui</td>
                            <td>{{ user.player.name }}</td>
                        {% else %}
                            <td>Aucun</td>
                            <td>-</td>
                        {% endif %}
                        <td>
                            {% if user.player.id is defined %}
                                <a href="{{ path('admin_user_dissociate', { 'id': user.player.id ,'id_clan': clan.id }) }}"><button class="btn btn-default btn-warning">Dissocier (cliquez 2 fois)</button></a>
                            {% else %}
                                <a href="{{ path('admin_user_edit', { 'id': user.id ,'id_clan': clan.id }) }}"><button class="btn btn-default btn-success">Assigner joueur</button></a>
                            {% endif %}
                        </td>

                        <td>
                            {% if is_granted('ROLE_SUPER_ADMIN')%}
                                <a href="{{ path('admin_user_delete', { 'id': user.id ,'id_clan': clan.id }) }}" class="btn btn-default btn-danger alert">Supprimer</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>-</td>
                    <td>0 user trouvé</td>
                    <td>-</td>

                    <td></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <hr>


    </div>
    <!-- /.container -->

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/footable.js') }}" type="text/javascript"></script>
{% endblock %}