{% extends "::base_admin.html.twig" %}
{% set id_clan = clan.id %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'menu.wars'|trans }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <ol class="breadcrumb">
        <li><a href="{{ path('admin', { 'id_clan': clan.id }) }}"><p class="fa fa-home"></p> Dashboard</a></li>
        <li class="active">{{ 'menu.wars'|trans }}</li>
    </ol>
    <!-- Page Content -->
    <div class="row">
        <a href="{{ path('admin_war_add', { 'id_clan': clan.id })}}"><button class="btn btn-default btn-success">{{ 'menu.war_add'|trans }}</button></a>
        <hr>
        {# form_start(form, {'action': path('coc_homepage'), 'method': 'GET'}) }} #}

        <table class="table">
            <thead>
            <tr>
                <th>{{ 'war.wars'|trans }}</th>
                <th>{{ 'war.date'|trans }}</th>
                <th></th>
                <th>{{ 'war.result'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% if wars|length != 0 %}
                {% for war in wars %}
                    <tr>
                        <td>
                            {{ clan.name }} vs
                            {% if war.opponent %}
                                {{ war.opponent }}
                            {% else %}
                                [???]
                            {% endif %}
                        </td>
                        <td>
                            {{ war.start|date('d M  Y - H:i') }}
                        </td>
                        <td>
                            {% if war.image is not null %}
                                <img class="img-responsive" src="{{ asset(war.image.getWebPath(clan.id)) }}">
                            {% endif %}
                        </td>
                        <td>
                            {{ war.result|result }}
                        </td>

                        <td>
                            <a href="{{ path('admin_war_edit', { 'id': war.id, 'id_clan' : clan.id }) }}" class="btn btn-default btn-info">{{ 'action.edit'|trans }}</a>
                            <a href="{{ path('admin_war_delete', { 'id': war.id, 'id_clan' : clan.id }) }}" class="btn btn-default btn-danger">{{ 'action.delete'|trans }}</a>
                        </td>

                    </tr>
                {% endfor %}
            {% else %}
                <tr>

                    <td>{{ 'war.not_found'|trans }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <hr>


    </div>
    <!-- /.container -->

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/footable.js') }}" type="text/javascript"></script>
{% endblock %}