{% extends "::base.html.twig" %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        {# form_start(form, {'action': path('coc_homepage'), 'method': 'GET'}) }} #}

        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}

            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.season, 'Rechercher par saison', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}


                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.season) }}


                <div class="col-sm-4">
                    {# Génération de l'input. #}


                    {{ form_widget(form.season, { 'attr': {'class': 'form-control select_group'}, 'empty_value': '-- Add to Group --' }) }}


                </div>

                <div class="col-sm-4">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>

            </div>




            {# Génération automatique des champs pas encore écrits.
               Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
               et tous les champs cachés (type « hidden »). #}
            {{ form_rest(form) }}

            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(form) }}


        </div>

        {% if previous %}
            <h2> Dernière saison terminée: {{ season.name }} <small>({{ season.start|date('d/m/y') ~ " - " ~season.end|date('d/m/y')~")" }}</small></h2>
        {% else %}
            <h2>Recherche: {{ season.name }} <small>({{ season.start|date('d/m/y') ~ " - " ~season.end|date('d/m/y')~")" }}</small></h2>
        {% endif %}
        <hr>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Nom du joueur</th>
                    <th>Level</th>
                    <th>Troops received</th>
                    <th>Troops sent</th>
                    <th>Victories</th>
                </tr>
            </thead>
            <tbody>

                {% if userInfos|length != 0 %}
                    {% for info in userInfos %}
                        <tr>
                            <td>{{ info.name }}</td>
                            <td>{{ info.level }}</td>
                            <td>{{ info.troopReceived }}</td>
                            <td>{{ info.troopSent }}</td>
                            <td>{{ info.attackWon }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                   <tr>
                        <td>-</td>
                        <td>0 joueur trouvé</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                       <td></td>
                   </tr>
                {% endif %}
            </tbody>
        </table>


    </div>
    <!-- /.container -->

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/footable.js') }}" type="text/javascript"></script>
{% endblock %}