{% extends "::base_admin.html.twig" %}
{% set id_clan = clan.id %}

{% block body %}

    <div class="container">
        <h2>Edition base</h2>

        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}


            <div class="form-group">

                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>


            {{ form_rest(form) }}

            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(form) }}
        </div>

        {# form_start(form, {'action': path('coc_homepage'), 'method': 'GET'}) }} #}
        {{ form(form)}}
    </div>



{% endblock %}