{% extends "::base_admin.html.twig" %}
{% set id_clan = clan.id %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Bases</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <ol class="breadcrumb">
        <li><a href="{{ path('admin', { 'id_clan': clan.id }) }}"><p class="fa fa-home"></p> Dashboard</a></li>
        <li class="active">Bases</li>
    </ol>

    <div class="container">
        <hr>
        <div class="row">
            <br>
            {% if images|length != 0 %}
                {% for image in images %}
                    <div class="col-sm-6 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">{{ loop.index }} </h3>
                            </div>
                            <div class="panel-body">
                                <a rel="gallery-1"  href="{{ asset('uploads/' ~ image.image.path) }}" class="swipebox" title="">
                                    <img  class="img-responsive" src="{{ asset('uploads/' ~ image.image.path) }}" />
                                </a>
                            </div>
                            <div class="panel-footer">
                                <a class="btn btn-danger " href="{{ path('admin_base_delete' , {'id': image.id , 'id_clan': clan.id }) }}">Supprimer</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                Aucune image trouvée.
            {% endif %}
        </div>


    </div>
    <!-- /.container -->

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.tablesorter.min.js') }}" type="text/javascript"></script>
{% endblock %}