{% extends "::base_admin.html.twig" %}
{% set id_clan = clan.id %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'menu.videos'|trans }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <ol class="breadcrumb">
        <li><a href="{{ path('admin', { 'id_clan': clan.id }) }}"><p class="fa fa-home"></p> Dashboard</a></li>
        <li class="active">{{ 'menu.videos'|trans }}</li>
    </ol>


    <!-- Page Content -->
    <div class="container">
        <a class="btn btn-normal btn-success" href="{{ path('admin_video_add', { 'id_clan': clan.id }) }}">{{ 'menu.video_add'|trans }}</a>
        <hr>
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'video.title'|trans }}</th>
                <th>{{ 'video.youtube_link'|trans }}</th>
                <th>{{ 'video.published'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% if videos|length != 0 %}
                {% for video in videos %}
                    <tr>
                        <td>{{ video.title }}</td>
                        <td>{{ video.url| raw }}</td>
                        <td>{{ video.published|boolean }}</td>
                        <td>
                            <a href="{{ path('admin_video_edit', { 'id': video.id , 'id_clan': clan.id }) }}" class="btn btn-default btn-info">{{ 'action.edit'|trans }}</a>
                            <a href="{{ path('admin_video_delete', { 'id': video.id , 'id_clan': clan.id}) }}" class="btn btn-default btn-danger">{{ 'action.delete'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>{{ 'notFound'|trans }}</td>
                    <td>-</td>
                    <td>-</td>
                    <td></td>
                </tr>
            {% endif %}
            </tbody>
        </table>


    </div>
    <!-- /.container -->

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.tablesorter.min.js') }}" type="text/javascript"></script>
{% endblock %}