{% extends "::base.html.twig" %}
{% set id_clan = clan.id %}
{% set active = null %}
    {% block body %}

        <!-- Page Content -->
        <div class="container">

            <h2>{{ 'menu.wars'|trans }}</h2>
            <hr>
            <div class="row">
                <br>
                {% if wars|length != 0 %}
                    {% for war in wars %}
                        <div class="col-sm-6 col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center">{{ clan.name }} VS {{ war.opponent }}</small></h3>
                                </div>
                                <div class="panel-body">
                                    {% if war.image.path is defined %}
                                        <a rel="gallery-1"  href="{{ asset('uploads/' ~ war.image.path) }}" class="swipebox" title="">
                                            <img  class="img-responsive" src="{{ asset('uploads/' ~ war.image.path) }}" />
                                        </a>
                                    {%  else %}
                                        <img class="img-responsive" src="{{ asset('images/non_available.jpg') }}" />

                                    {% endif %}
                                    </a>
                                </div>
                                <div class="panel-footer">
                                    <h3 class="panel-title text-center"> {{ war.result|result }}  <small>({{ war.start|date('U')|timeago }})</small></h3>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h3>{{ 'menu.no_war'|trans }}</h3>
                {% endif %}
            </div>

        </div>
        <!-- /.container -->

    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/footable.js') }}" type="text/javascript"></script>
    {% endblock %}


