{% extends "::base_admin.html.twig" %}

 {% block title %}
     <title>Ajouter un joueur</title>
 {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Ajouter un joueur</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <ol class="breadcrumb">
        <li><a href="{{ path('admin') }}"><p class="fa fa-home"></p> Dashboard</a></li>
        <li><a href="{{ path('admin_players') }}">Joueurs</a></li>
        <li class="active">Ajouter un joueur</li>
    </ol>

    <div class="container">

        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.name, 'Joueur clash of clan', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.name) }}

                <div class="col-sm-4">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>

            {# Génération automatique des champs pas encore écrits.
               Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
               et tous les champs cachés (type « hidden »). #}
            {{ form_rest(form) }}

            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(form) }}
        </div>

        {# form_start(form, {'action': path('coc_homepage'), 'method': 'GET'}) }} #}
        {{ form(form)}}
    </div>
{% endblock %}

