{% extends "::base_admin.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edition du joueur {{ player.name }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <ol class="breadcrumb">
        <li><a href="{{ path('admin') }}"><p class="fa fa-home"></p> Dashboard</a></li>
        <li><a href="{{ path('admin_players') }}">Joueurs</a></li>
        <li class="active">Editer un joueur</li>
    </ol>

    <div class="container">


        <hr>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                           Général
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        {# Les erreurs générales du formulaire. #}
                        {{ form_errors(form) }}

                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.hall_town, 'Hotel de ville', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.hall_town) }}

                            <div class="col-sm-4">

                                {# Génération de l'input. #}
                                {{ form_widget(form.hall_town, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.troopReceived, 'Troupes recues', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.troopReceived) }}

                            <div class="col-sm-4">
                                {# Génération de l'input. #}
                                {{ form_widget(form.troopReceived, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.troopSent, 'Troupes envoyées', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.troopSent) }}

                            <div class="col-sm-4">
                                {# Génération de l'input. #}
                                {{ form_widget(form.troopSent, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>


                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.level, 'Niveau', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.level) }}

                            <div class="col-sm-4">
                                {# Génération de l'input. #}
                                {{ form_widget(form.level, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.trophy, 'Trophés', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.trophy) }}

                            <div class="col-sm-4">
                                {# Génération de l'input. #}
                                {{ form_widget(form.trophy, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.attackWon, 'Attaques victorieuses', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.attackWon) }}

                            <div class="col-sm-4">
                                {# Génération de l'input. #}
                                {{ form_widget(form.attackWon, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Défences
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">

                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.canon1, 'Canon1', {'label_attr': {'class': 'col-sm-1 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.canon1) }}

                            <div class="col-sm-1">
                                {# Génération de l'input. #}
                                {{ form_widget(form.canon1, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>


                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.canon2, 'Canon 2', {'label_attr': {'class': 'col-sm-1 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.canon2) }}

                            <div class="col-sm-1">
                                {# Génération de l'input. #}
                                {{ form_widget(form.canon2, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>



                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.canon3, 'Canon 3', {'label_attr': {'class': 'col-sm-1 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.canon3) }}

                            <div class="col-sm-1">
                                {# Génération de l'input. #}
                                {{ form_widget(form.canon3, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>


                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.canon4, 'Canon 4', {'label_attr': {'class': 'col-sm-1 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.canon4) }}

                            <div class="col-sm-1">
                                {# Génération de l'input. #}
                                {{ form_widget(form.canon4, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>


                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.canon5, 'Canon 5', {'label_attr': {'class': 'col-sm-1 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.canon5) }}

                            <div class="col-sm-1">
                                {# Génération de l'input. #}
                                {{ form_widget(form.canon5, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>


                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.canon6, 'Canon 6', {'label_attr': {'class': 'col-sm-1 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.canon6) }}

                            <div class="col-sm-1">
                                {# Génération de l'input. #}
                                {{ form_widget(form.canon6, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>


                        <!-- TOWER ARCHER-->

                        <div class="form-group">
                            {{ form_label(form.tower_archer1, 'Tour archer 1', {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
                            {{ form_errors(form.tower_archer1) }}
                            <div class="col-sm-1">
                                {{ form_widget(form.tower_archer1, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.tower_archer2, 'Tour archer 2', {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
                            {{ form_errors(form.tower_archer2) }}
                            <div class="col-sm-1">
                                {{ form_widget(form.tower_archer2, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.tower_archer3, 'Tour archer 3', {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
                            {{ form_errors(form.tower_archer3) }}
                            <div class="col-sm-1">
                                {{ form_widget(form.tower_archer3, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.tower_archer4, 'Tour archer 4', {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
                            {{ form_errors(form.tower_archer4) }}
                            <div class="col-sm-1">
                                {{ form_widget(form.tower_archer4, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.tower_archer5, 'Tour archer 5', {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
                            {{ form_errors(form.tower_archer5) }}
                            <div class="col-sm-1">
                                {{ form_widget(form.tower_archer5, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.tower_archer6, 'Tour archer 6', {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
                            {{ form_errors(form.tower_archer6) }}
                            <div class="col-sm-1">
                                {{ form_widget(form.tower_archer6, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>


                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.tesla1, 'Tesla 1', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.tesla1) }}

                            <div class="col-sm-2">
                                {# Génération de l'input. #}
                                {{ form_widget(form.tesla1, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>


                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.tesla2, 'Tesla 2', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.tesla2) }}

                            <div class="col-sm-2">
                                {# Génération de l'input. #}
                                {{ form_widget(form.tesla2, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>


                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.tesla3, 'Tesla 3', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.tesla3) }}

                            <div class="col-sm-2">
                                {# Génération de l'input. #}
                                {{ form_widget(form.tesla3, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>



                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.mortar1, 'Mortier 1', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.mortar1) }}

                            <div class="col-sm-1">
                                {# Génération de l'input. #}
                                {{ form_widget(form.mortar1, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>


                        <div class="form-group horizon">
                            {# Génération du label. #}
                            {{ form_label(form.mortar2, 'Mortier 2', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.mortar2) }}

                            <div class="col-sm-1">
                                {# Génération de l'input. #}
                                {{ form_widget(form.mortar2, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>


                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.mortar3, 'Mortier 3', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.mortar3) }}

                            <div class="col-sm-1">
                                {# Génération de l'input. #}
                                {{ form_widget(form.mortar3, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>


                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.mortar4, 'Mortier 4', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.mortar4) }}

                            <div class="col-sm-1">
                                {# Génération de l'input. #}
                                {{ form_widget(form.mortar4, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>



                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.tower_magic1, 'Tour de magie 1', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.tower_magic1) }}

                            <div class="col-sm-1">
                                {# Génération de l'input. #}
                                {{ form_widget(form.tower_magic1, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>


                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.tower_magic2, 'Tour de magie 2', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.tower_magic2) }}

                            <div class="col-sm-1">
                                {# Génération de l'input. #}
                                {{ form_widget(form.tower_magic2, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>


                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.tower_magic3, 'Tour de magie 3', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.tower_magic3) }}

                            <div class="col-sm-1">
                                {# Génération de l'input. #}
                                {{ form_widget(form.tower_magic3, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>


                        <div class="form-group">
                            {# Génération du label. #}
                            {{ form_label(form.tower_magic4, 'Tour de magie 4', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                            {# Affichage des erreurs pour ce champ précis. #}
                            {{ form_errors(form.tower_magic4) }}

                            <div class="col-sm-1">
                                {# Génération de l'input. #}
                                {{ form_widget(form.tower_magic4, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>




                    </div>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Laboratoire
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">

                        <div class="col-sm-12">

                            <div class="form-group">
                                {# Génération du label. #}
                                {{ form_label(form.archer, 'Archers', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.archer) }}

                                <div class="col-sm-4">
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.archer, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>


                            <div class="form-group">
                                {# Génération du label. #}
                                {{ form_label(form.geant, 'Géants', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.geant) }}

                                <div class="col-sm-4">
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.geant, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {# Génération du label. #}
                                {{ form_label(form.wall_breaker, 'Casse brique', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.wall_breaker) }}

                                <div class="col-sm-4">
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.wall_breaker, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>


                            <div class="form-group">
                                {# Génération du label. #}
                                {{ form_label(form.healer, 'Guerisseuse', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.healer) }}

                                <div class="col-sm-4">
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.healer, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>


                            <div class="form-group">
                                {# Génération du label. #}
                                {{ form_label(form.barbar, 'Barbar', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.barbar) }}

                                <div class="col-sm-4">
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.barbar, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>


                            <div class="form-group">
                                {# Génération du label. #}
                                {{ form_label(form.ballon, 'Montgolfiere', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.ballon) }}

                                <div class="col-sm-4">
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.ballon, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {# Génération du label. #}
                                {{ form_label(form.wizard, 'Sorcier', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.wizard) }}

                                <div class="col-sm-4">
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.wizard, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>


                            <div class="form-group">
                                {# Génération du label. #}
                                {{ form_label(form.dragon, 'Dragon', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.dragon) }}

                                <div class="col-sm-4">
                                    {# Génération de l'input. #}
                                    {{ form_widget(form.dragon, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>


                            <div class="form-group">
                                {# Génération du label. #}
                                {{ form_label(form.pekka, 'Pekka', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.pekka) }}


                                <div class="col-sm-4">

                                    {# Génération de l'input. #}
                                    {{ form_widget(form.pekka, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">


            <div class="col-md-4 col-md-offset-4">
                {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-block btn-success'}}) }}
            </div>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}


    </div><!-- end panel warning -->






{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/footable.js') }}" type="text/javascript"></script>
{% endblock %}