{% extends "::base_admin.html.twig" %}
{% set id_clan = clan.id %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'menu.players_list'|trans }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <ol class="breadcrumb">
        <li><a href="{{ path('admin', { 'id_clan': clan.id }) }}"><p class="fa fa-home"></p> Dashboard</a></li>
        <li class="active">{{ 'menu.players'|trans }}</li>
    </ol>

    <!-- Page Content -->
    <div class="container">
        <a href="{{ path('admin_player_add', { 'id_clan': clan.id })}}"><button class="btn btn-default btn-success">{{ 'button.add_player'|trans }}</button></a>
        <hr>
        {# form_start(form, {'action': path('coc_homepage'), 'method': 'GET'}) }} #}

        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'player.name'|trans }}</th>
                    <th>{{ 'account.name'|trans }}</th>
                    <th>{{ 'player.defence'|trans }}</th>
                    <th>{{ 'player.attack'|trans }}</th>
                    <th>{{ 'player.total'|trans }}</th>
                    <th>{{ 'player.updated'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            {% if players|length != 0 %}
                {% for player in players %}
                    <tr>
                        <td>{{ player.name }} ({{ player.level }})</td>
                        <td>

                        </td>
                        <td>{{ player.totalDefence|round}}</td>
                        <td>{{ player.totalAttack|round}}</td>
                        <td>{{ player.total|round}}</td>

                        <td>{{ player.updatedAt|date('U')|timeago }}</td>
                        <td>
                            <a href="{{ path('admin_player_edit', { 'id': player.id , 'id_clan': clan.id }) }}" class="btn btn-default btn-info">{{ 'action.edit'|trans }}</a>
                            <a href="{{ path('admin_player_delete', { 'id': player.id , 'id_clan': clan.id}) }}" class="btn btn-circle btn-danger">{{ 'action.delete'|trans }}</a>
                        </td>

                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>-</td>
                    <td>0 joueur trouvé</td>
                    <td>-</td>

                    <td></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <hr>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/footable.js') }}" type="text/javascript"></script>
{% endblock %}