{% extends "::base_admin.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Liste des joueurs</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <ol class="breadcrumb">
        <li><a href="{{ path('admin') }}"><p class="fa fa-home"></p> Dashboard</a></li>
        <li class="active">Joueurs</li>
    </ol>

    <!-- Page Content -->
    <div class="container">
        <a href="{{ path('admin_player_add')}}"><button class="btn btn-default btn-success">Ajouter un joueur</button></a>
        <hr>
        {# form_start(form, {'action': path('coc_homepage'), 'method': 'GET'}) }} #}

        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Level</th>
                    <th>Défence</th>
                    <th>Attaque</th>
                    <th>Total</th>
                    <th>Date de mise à jour</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            {% if players|length != 0 %}
                {% for player in players %}
                    <tr>
                        <td>{{ player.name }}</td>
                        <td>{{ player.level }}</td>
                        <td>{{ player.totalDefence|round}}</td>
                        <td>{{ player.totalAttack|round}}</td>
                        <td>{{ player.total|round}}</td>

                        <td>{{ player.updatedAt|date('U')|timeago }}</td>
                        <td>
                            <a href="{{ path('admin_player_edit', { 'id': player.id }) }}" class="btn btn-default btn-info">Editer</a>
                            <a href="{{ path('admin_player_delete', { 'id': player.id }) }}" class="btn btn-circle btn-danger alert">Suppprimer</a>
                        </td>

                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>-</td>
                    <td>0 joueur trouvé</td>
                    <td>-</td>

                    <td></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <hr>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/footable.js') }}" type="text/javascript"></script>
{% endblock %}