
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Level</th>
                <th>Défence</th>
                <th>Attaque</th>
                <th>Total</th>
                <th>Date de mise à jour</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% if players|length != 0 %}
                {% for player in players %}
                    <tr>
                        <td>{{ player.name }}</td>
                        <td>{{ player.level }}</td>
                        <td>{{ player.totalDefence|round}}</td>
                        <td>{{ player.totalAttack|round}}</td>
                        <td>{{ player.total|round}}</td>

                        <td>{{ player.updatedAt|date('U')|timeago }}</td>
                        <td>
                            <a href="{{ path('admin_player_edit', { 'id': player.id, 'id_clan'  : clan.id }) }}" class="btn btn-default btn-info">Editer</a>
                        </td>

                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>-</td>
                    <td>0 joueur trouvé</td>
                    <td>-</td>

                    <td></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
