{% extends "::base.html.twig" %}
{% set id_clan = clan.id %}
{% set active = "home" %}

  {% block title %}
      <title>{{ clan.name }} - {{ 'menu.title_page'|trans }}</title>
  {% endblock %}


{% block body %}

   <!-- <a class="btn btn-large btn-success" href="javascript:void(0);" onclick="javascript:introJs().start();">Show me how</a>-->



    <div class="row ">
        <div class="col-md-8 col-md-offset-2 ">

        {% if (clan.id == 1) %}
            <a class="btn btn-large btn-block btn-success supercell-font" href="javascript:introJs().setOption('showProgress', true).start();">{{ 'coc.launch_demo'|trans }}</a>
        {% endif %}
            </div>
    </div>
    <br>
     <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-6" data-position='right' data-step="3" data-intro="{{ 'intro.step3'|trans }}" data-position='right'>

                <div class="panel panel-default" data-step="1" data-position='right' data-intro="{{ 'intro.step1'|trans }}">
                    <div class="panel-heading supercell-font">
                        {{ 'coc.message'|trans }}  <p class="pull-right"><a href="{{ path('coc_players', {'id_clan': clan.id, 'type': '0'}) }}">{{ numberPlayers }} / {{ clan.capacity }}  </a></p>
                    </div>
                    <div class="panel-body">
                        {{ clan.message }}
                    </div>
                </div>
                <hr>
                {{ render(controller('COCBundle:War:menu', {'id_clan': clan.id })) }}
            </div>
            <div class="col-md-6" data-position='left' data-step="4" data-intro="{{ 'intro.step4'|trans }}" data-position='right'>
                {{ render(controller('COCBundle:Player:historyPlayers', {'id_clan': clan.id })) }}
            </div>
        </div>

        <!-- Visible only on small devices -->
        <div class="visible-xs visible-sm hidden-md hidden-lg supercell-font text-center">
            <div class="panel panel-default" data-step="1" data-position='right' data-intro="{{ 'intro.step1'|trans }}">
                <div class="panel-heading supercell-font">
                    {{ 'coc.features'|trans }}
                </div>
                <div class="panel-body">
                    <a class="btn btn-large btn-block btn-success" href="{{ path('coc_images_base', {'id_clan': clan.id }) }}">{{ 'coc.visit_bases'|trans }}</a>
                    <br> <a class="btn btn-large btn-block btn-warning" href="{{ path('coc_players', {'id_clan': clan.id, 'type': '0' }) }}">{{ 'coc.visit_ranking'|trans }}</a>
                    <br><a class="btn btn-large btn-block btn-info" href="{{ path('coc_imagesBestAttack', {'id_clan': clan.id }) }}">{{ 'coc.visit_best_attacks'|trans }}</a>
                </div>
            </div>
        </div><!-- end well-small -->


        <div class="row supercell-font  hidden-sm hidden-xs" data-position='top' data-step="2" data-intro="{{ 'intro.step2'|trans }}">
            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">{{ 'coc.bases'|trans }} </div>
                    <div class="panel-body">
                        <p><a href="{{ path('coc_images_base', {'id_clan': clan.id }) }}"><img class="img-responsive" src="{{ ('images/2014-12-11 22.07.05.png') | imagine_filter('my_thumb') }}"></a></p>
                        <p><a href="{{ path('coc_images_base', {'id_clan': clan.id }) }}"><button class="btn btn-block btn-info">{{ 'coc.visit_bases'|trans }} </button></a></p>
                    </div>
                </div>
            </div><!-- end features -->

            <div class="col-md-4">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">{{ 'coc.ranking'|trans }} </div>
                    <div class="panel-body">

                        <p><a href="{{ path('coc_players', {'id_clan': clan.id, 'type': '0' }) }}"><img class="img-responsive" src="{{ ('images/2015-01-16 13.32.49.png') | imagine_filter('my_thumb') }}"></a></p>
                        <p><a href="{{ path('coc_players', {'id_clan': clan.id, 'type': '0' }) }}"><button class="btn btn-block btn-danger">{{ 'coc.visit_ranking'|trans }} </button></a></p>
                    </div>
                </div>
            </div><!-- end features -->

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">{{ 'coc.best_attacks'|trans }} </div>
                    <div class="panel-body">
                        <p><a href="{{ path('coc_imagesBestAttack', {'id_clan': clan.id }) }}"><img class="img-responsive" src="{{ ('images/2014-12-28 02.09.46.png') | imagine_filter('my_thumb') }}"></a></p>
                        <p><a href="{{ path('coc_imagesBestAttack', {'id_clan': clan.id }) }}"><button class="btn btn-block btn-success">{{ 'coc.visit_best_attacks'|trans }}</button></a></p>
                    </div>
                </div>
            </div><!-- end features -->
        </div>
        <!-- /.row -->



            {{ render(controller('AdminBundle:VideoAdmin:mainPageModule', {'id_clan': clan.id })) }}

        </div>
    </div>

    <footer>
        {{ render(controller('COCBundle:Default:displaySeason')) }}
    </footer>

{% endblock %}

{% block javascripts %}
    <script>

        if ('{{ display }}' && screen.width > 479)
        {
            introJs().setOption('showProgress', true).start();
        }


    </script>

{% endblock %}