{% extends "::base.html.twig" %}
{% set id_clan = clan.id %}
{% set active = "home" %}


  {% block title %}
      <title>{{ clan.name }} - {{ 'menu.title_page'|trans }}</title>
  {% endblock %}


{% block body %}

   <!-- <a class="btn btn-large btn-success" href="javascript:void(0);" onclick="javascript:introJs().start();">Show me how</a>-->


    <div class="row visible-xs visible-sm hidden-md">
        <div class="col-xs-12">
        {% if is_granted('ROLE_USER') %}
            <div class="row hidden-lg ">
                <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                    {%  if app.user.player is defined %}
                        {% if app.user.player.clan is defined  %}
                            {% if app.user.player.clan.id == clan.id  %}

                                <a class="btn btn-large btn-block btn-primary supercell-font"  href="{{ path('coc_player', {'id_clan' : app.user.clan.id , 'id_player' :  app.user.player.id }) }}"> {{ 'menu.my_player'|trans }}</a>
                                <br>

                                <a class="btn btn-large btn-block btn-success supercell-font" href="{{ path('coc_player_edit', {'id': app.user.player.id ,'id_clan': clan.id }) }}"><b> {{ 'menu.edit_player'|trans }}</b></a>


                        {% endif %}
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            <br>


            {% if is_granted('ROLE_USER') %}
                {% if  app.user.clan.id == clan.id and app.user.player == null  %}
                    <div class="row visible-xs visible-sm hidden-md hidden-lg">
                        <div class="col-sm-12 text-center">
                         <p class="supercell-font" href=""><b>{{ 'account.waiting'|trans }}</b></p>
                    </div>
                </div>
            {% endif %}
        {% endif %}


        <!-- RANKING Visible only on small devices -->
        <div class="visible-xs visible-sm hidden-md hidden-lg supercell-font text-center">
            <div class="panel panel-default">
                <div class="panel-heading oswald-font">
                    <i class="fa fa-refresh"></i> {{ last_update_player['updatedAt']|date("U")|timeago }}
                </div>
                <div class="panel-body">
                    <a class="btn btn-large btn-block btn-danger" href="{{ path('coc_players', {'id_clan': clan.id, 'type' : 0 }) }}"><i class="fa fa-sort-numeric-asc"></i> {{ 'phone.players'|trans }} <i class="fa fa-sort-numeric-asc"></i></a>
                    <br>
                    <a class="btn btn-large btn-block btn-success" href="{{ path('coc_players', {'id_clan': clan.id, 'type' : 1 }) }}"><i class="fa fa-rocket"></i> {{ 'phone.activity'|trans }} <i class="fa fa-rocket"></i></a>
                </div>
            </div>
        </div><!-- end well-small -->


        <!-- ALL ATTACKS  Visible only on small devices -->
        <div class="visible-xs visible-sm hidden-md hidden-lg supercell-font text-center">
            <div class="panel panel-default">
                <div class="panel-heading oswald-font">
                    <i class="fa fa-refresh"></i> {% if (last_update_bestAttack['updatedAt'] != null) %} {{ last_update_bestAttack['updatedAt']|date("U")|timeago }} {% else %} - {% endif %}
                </div>
                <div class="panel-body">
                    <a class="btn btn-large btn-block btn-warning" href="{{ path('coc_imagesBestAttack', {'id_clan': clan.id }) }}"><i class="fa fa-crosshairs"></i> {{ 'phone.bestAttacks'|trans }} <i class="fa fa-crosshairs"></i></a>
                </div>
            </div>
        </div><!-- end well-small -->

        <!-- ALL BASES  Visible only on small devices -->
        <div class="visible-xs visible-sm hidden-md hidden-lg supercell-font text-center">
            <div class="panel panel-default">
                <div class="panel-heading oswald-font">
                    <i class="fa fa-refresh"></i>  {% if (last_update_base['updatedAt'] != null) %} {{ last_update_base['updatedAt']|date("U")|timeago }} {% else %} <i class="fa fa-ban"></i> {% endif %}
                </div>
                <div class="panel-body">
                    <a class="btn btn-large btn-block btn-info" href="{{ path('coc_images_base', {'id_clan': clan.id }) }}"><i class="fa fa-picture-o"></i> {{ 'phone.bases'|trans }} <i class="fa fa-picture-o"></i></a>
                </div>
            </div>
        </div><!-- end well-small -->
    </div>
    </div>


    <br>
     <!-- Page Content -->
        <div class="col-md-12 white-bg rounded-corners">

            <div class="row"  id="demo" style="display:none;">
                <div class="col-md-8 col-md-offset-2 btn-demo">
                    {% if (clan.id == 1) %}
                        <a class="btn btn-large btn-block btn-success supercell-font" href="javascript:introJs().setOption('showProgress', true).start();">{{ 'coc.launch_demo'|trans }}</a>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <br>
                <div class="col-md-5" data-position='right' data-step="3" data-intro="{{ 'intro.step3'|trans }}" data-position='right'>
                    <div class="panel panel-default" data-step="1" data-position='right' data-intro="{{ 'intro.step1'|trans }}">
                        <div class="panel-heading supercell-font">
                            {%  if clan.image.path is defined %}
                                <img  class="" width="30" height="30" src="{{ asset(clan.image.getWebPath(clan.id)) }}" />
                            {% endif  %}
                            {{ clan.name }}<p class="pull-right"><a href="{{ path('coc_wars', {'id_clan': clan.id}) }}">{{ 'war.wars'|trans }} <span class="badge">{{ numberWars }}</span></a></p>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-responsive table-striped">
                                        <thead>
                                        <tr>
                                            <th>Stats clans</th>
                                            <th>Totals</th>
                                            <th>Rank</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-nowrap" scope="row"><i class="fa fa-area-chart"></i>  {{ 'clan.total_points'|trans }}</td>
                                                <td class="text-muted"><b>{{ clan.totalGeneral }} </b> </td>
                                                <td class="text-muted"><b>{{ positions['totalGeneral']}} {{ positions['totalGeneral']|position }}</b> </td>
                                            </tr>


                                            <tr>
                                                <td class="text-nowrap" scope="row"><i class="fa fa-trophy"></i>  {{ 'clan.total_trophies'|trans }}</td>
                                                <td class="text-muted"><b>{{ clan.totalTrophy }} </b> </td>
                                                <td class="text-muted"><b>{{ positions['totalTrophy']}} {{ positions['totalTrophy']|position }}</b> </td>
                                            </tr>

                                            <tr>
                                                <td class="text-nowrap" scope="row"><i class="fa fa-rocket"></i> <span class="hidden-xs hidden-sm">{{ 'clan.total_attackWon'|trans }}</span><span class="hidden-lg hidden-md">{{ 'clan.total_attackWon_mobile'|trans }}</span></td>
                                                <td class="text-muted"><b>{{ clan.totalAttackWon }} </b> </td>
                                                <td class="text-muted"><b>{{ positions['totalAttackWon']}} {{ positions['totalAttackWon']|position }}</b> </td>
                                            </tr>

                                            <tr>
                                                <td class="text-nowrap" scope="row"><i class="fa fa-exchange"></i>  <span class="hidden-xs hidden-sm">{{ 'menu.totalReceivedSent'|trans }}</span><span class="hidden-lg hidden-md">{{ 'clan.total_troopReceived_mobile' |trans }}</span></td>
                                                <td class="text-muted"><b>{{ clan.totalTroopSent  }} / {{ clan.totalTroopReceived  }} </b> </td>
                                                <td class="text-muted"><b>{{ positions['totalTroop']}} {{ positions['totalTroop']|position }}</b> </td>
                                            </tr>

                                            <tr>
                                                <td class="text-nowrap" scope="row"><i class="fa fa-bolt"></i>  {{ 'war.wars'|trans }}</td>
                                                <td class="text-muted"><b>{{ clan.totalTrophy }} </b> </td>
                                                <td class="text-muted"><b>{{ positions['totalTrophy']}} {{ positions['totalTrophy']|position }}</b> </td>
                                            </tr>

                                        </tbody>
                                    </table>

                            </div>
                            </div>
                        </div>
                    </div>

                    <!--End of Tawk.to Script-->
                </div>
                <div class="col-md-7  hidden-sm hidden-xs"  data-position='left' data-step="3" data-intro="{{ 'intro.step4'|trans }}" data-position='right'>
                    {{ render(controller('COCBundle:Player:historyPlayers', {'id_clan': clan.id })) }}
                </div>
            </div>

            <div class="row supercell-font  hidden-sm hidden-xs" data-position='top' data-step="2" data-intro="{{ 'intro.step2'|trans }}">
                <div class="col-md-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <i class="fa fa-refresh"></i>   {% if (last_update_base['updatedAt'] != null) %} {{ last_update_base['updatedAt']|date("U")|timeago }} {% else %} <i class="fa fa-ban"></i> {% endif %}
                        </div>
                        <div class="panel-body">
                            <p><a href="{{ path('coc_images_base', {'id_clan': clan.id }) }}"><img class="img-responsive" src="{{ ('images/2014-12-11 22.07.05.png') | imagine_filter('my_thumb') }}"></a></p>
                            <p><a href="{{ path('coc_images_base', {'id_clan': clan.id }) }}"><button class="btn btn-block btn-info">{{ 'coc.visit_bases'|trans }} </button></a></p>
                        </div>
                    </div>
                </div><!-- end features -->

                <div class="col-md-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <i class="fa fa-refresh"></i>    {{ last_update_player['updatedAt']|date("U")|timeago }}
                        </div>
                        <div class="panel-body">

                            <p><a href="{{ path('coc_players', {'id_clan': clan.id, 'type': '1' }) }}"><img class="img-responsive" src="{{ ('images/2015-01-16 13.32.49.png') | imagine_filter('my_thumb') }}"></a></p>
                            <p><a href="{{ path('coc_players', {'id_clan': clan.id, 'type': '1' }) }}"><button class="btn btn-block btn-danger">{{ 'phone.activity'|trans }} </button></a></p>
                        </div>
                    </div>
                </div><!-- end features -->

                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <i class="fa fa-refresh"></i>   {% if (last_update_bestAttack['updatedAt'] != null) %} {{ last_update_bestAttack['updatedAt']|date("U")|timeago }} {% else %} <i class="fa fa-ban"></i> {% endif %}
                        </div>
                        <div class="panel-body">
                            <p><a href="{{ path('coc_imagesBestAttack', {'id_clan': clan.id }) }}"><img class="img-responsive" src="{{ ('images/2014-12-28 02.09.46.png') | imagine_filter('my_thumb') }}"></a></p>
                            <p><a href="{{ path('coc_imagesBestAttack', {'id_clan': clan.id }) }}"><button class="btn btn-block btn-success">{{ 'coc.visit_best_attacks'|trans }}</button></a></p>
                        </div>
                    </div>
                </div><!-- end features -->
            </div>
            <!-- /.row -->

            {{ render(controller('AdminBundle:VideoAdmin:mainPageModule', {'id_clan': clan.id })) }}

            {% if is_granted('ROLE_USER') and app.user.player.clan.id is defined  %}

                {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': clan.id} %}
            {% endif %}

        </div>
    </div>

    <footer>
        {{ render(controller('COCBundle:Default:displaySeason')) }}
    </footer>

{% endblock %}

{% block javascripts %}
    <script>
        // 'Getting' data-attributes using getAttribute
        var demo = document.getElementById('demo');
        //  var clan_id = demo.getAttribute('data-clan'); // fruitCount = '12'

        if ('{{ clan.id }}' == 1)
        {
            demo.style.display = 'block';
        }

    </script>


    <script>
        if ('{{ display }}' && screen.width > 479)
        {
            introJs().setOption('showProgress', true).start();
        }
    </script>
{% endblock %}