<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a   class="navbar-brand supercell-font" href="{{ path('coc', {'id_clan': clan.id }) }}">{{ clan.name }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li><a class="" href="{{ path('coc', {'id_clan': clan.id }) }}"><b>{{ 'home'|trans }}</b></a></li>

                {% if active == "classement" %} <li class="active dropdown"> {% else %} <li class="dropdown">{% endif %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="badge">{{ numberPlayers }}</span> {{ 'menu.rankings'|trans }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('coc_players', {'id_clan': clan.id, 'type': '0' }) }}"><i class="fa fa-sort-amount-asc"></i> {{ 'menu.player_rankings'|trans }}</a></li>
                        <li><a href="{{ path('coc_players', {'id_clan': clan.id, 'type': '1' }) }}"><i class="fa fa-gamepad"></i> {{ 'menu.player_activity'|trans }}</a></li>
                    </ul>
                </li>

                {% if active == "base" %} <li class="active dropdown"> {% else %} <li class="dropdown">{% endif %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="badge"> {{ numberBases5 + numberBases6 + numberBases7 + numberBases8 + numberBases9 + numberBases10 }}</span> {{ 'menu.bases'|trans }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('coc_images_base_add', {'id_clan': clan.id }) }}"><i class="fa fa-plus-circle"></i> {{ 'menu.new_base'|trans }}</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ path('coc_images_base_category', {'id': 5, 'id_clan': clan.id} ) }}"><i class="fa fa-chevron-right"></i> {{ 'menu.ht5'|trans }} {% if numberBases5 > 0 %} <span class="badge pull-right"> {{ numberBases5 }}</span> {% endif %} </a></li>
                        <li><a href="{{ path('coc_images_base_category', {'id': 6, 'id_clan': clan.id} ) }}"><i class="fa fa-chevron-right"></i> {{ 'menu.ht6'|trans }} {% if numberBases6 > 0 %}<span class="badge pull-right"> {{ numberBases6 }}</span> {% endif %}</a></li>
                        <li><a href="{{ path('coc_images_base_category', {'id': 7, 'id_clan': clan.id} ) }}"><i class="fa fa-chevron-right"></i> {{ 'menu.ht7'|trans }} {% if numberBases7 > 0 %}<span class="badge pull-right"> {{ numberBases7 }}</span>{% endif %}</a></li>
                        <li><a href="{{ path('coc_images_base_category', {'id': 8, 'id_clan': clan.id} ) }}"><i class="fa fa-chevron-right"></i> {{ 'menu.ht8'|trans }} {% if numberBases8 > 0 %}<span class="badge pull-right"> {{ numberBases8 }}</span>{% endif %}</a></li>
                        <li><a href="{{ path('coc_images_base_category', {'id': 9, 'id_clan': clan.id} ) }}"><i class="fa fa-chevron-right"></i> {{ 'menu.ht9'|trans }} {% if numberBases9 > 0 %}<span class="badge pull-right"> {{ numberBases9 }}</span>{% endif %} </a></li>
                        <li><a href="{{ path('coc_images_base_category', {'id': 10, 'id_clan': clan.id} ) }}"><i class="fa fa-chevron-right"></i> {{ 'menu.ht10'|trans }}{% if numberBases10 > 0 %} <span class="badge pull-right"> {{ numberBases10 }}</span>{% endif %}</a></li>
                    </ul>
                </li>

                {% if active == "media" %} <li class="active dropdown"> {% else %} <li class="dropdown">{% endif %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="badge">{{ numberVideos + numberImagesBonus + numberBestAttacks}}</span> {{ 'menu.media'|trans }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('coc_videos', {'id_clan': clan.id }) }}"><span class="badge">{{ numberVideos }} <i class="fa fa-video-camera"></i></span>  {{ 'menu.video'|trans }} </a></li>
                        <li><a href="{{ path('coc_imagesBonus', {'id_clan': clan.id }) }}"><span class="badge">{{ numberImagesBonus }} <i class="fa fa-heart"></i></span>  {{ 'menu.bonus'|trans }} </a></li>
                        <li><a href="{{ path('coc_imagesBestAttack', {'id_clan': clan.id }) }}"><span class="badge">{{ numberBestAttacks }} <i class="fa fa-star-half-o"></i></span> {{ 'menu.best_attacks'|trans }}     </a></li>

                    </ul>
                </li>

                {% if is_granted('ROLE_USER') %}
                    {%  if app.user is defined and app.user.player is defined and app.user.player.clan == clan %}
                        {% if app.user.player.clan is defined %}
                            <li><a class="blink-slow" href="{{ path('coc_player_edit', {'id': app.user.player.id ,'id_clan': clan.id }) }}"><b> {{ 'menu.edit_player'|trans }}</b></a></li>
                        {% endif %}
                    {% endif %}

                    {% if  app.user.clan.id == clan.id and app.user.player == null  %}
                        <li><a class="blink" href=""><b>[{{ 'account.waiting'|trans }}]</b></a></li>
                    {% endif %}
                {% endif %}



            </ul>





            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

                {{ language_switcher|raw  }}


                <!--  if connected AND not his clan-->
                {% if is_granted('ROLE_USER') and app.user.clan != clan %}
                    <li><a href="{{ path('coc', {'id_clan' : app.user.clan.id }) }}"><i class="fa fa-arrow-circle-right"></i> {{ 'vitrine.back_my_clan'|trans }} </a></li>
                {% else %}

                    {% if is_granted('ROLE_USER') and app.user.clan != null and app.user.player is defined %}
                        <li><a href="{{ path('coc_player', {'id_clan' : app.user.clan.id , 'id_player' :  app.user.player.id }) }}"> {{ 'menu.my_player'|trans }}</a></li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') and clan.id == app.user.clan.id %}
                        <li><a data-position='bottom' data-step="5" data-intro="{{ 'intro.step5'|trans }}" target="_blank" href="{{ path('admin', {'id_clan': clan.id }) }}">Admin
                                {%  if (numberUsersNonAssigned > 0) %}
                                <span data-toggle="tooltip" title="{{ 'notif.user_waiting'|trans }}" id='tooltip' class="badge badge-danger"> {{  numberUsersNonAssigned }}</span></a>
                            {% else %}
                                <span data-toggle="tooltip" title="{{ 'notif.user_non_waiting'|trans }}" id='tooltip' class="badge badge-success"> {{  numberUsersNonAssigned }}</span></a>
                            {% endif %}
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_USER')  %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <i class="fa fa-user fa-fw"></i> {{ app.user.username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i>  {{ 'menu.disconnect'|trans }}</a>
                            </ul>
                        </li>

                    {% else %}
                        <li class="page-scroll">
                            <a href="{{ path('fos_user_registration_register') }}">{{ 'vitrine.join_clan'|trans }}</a>
                        </li>
                        <li class="page-scroll">
                            <a href="{{ path('fos_user_security_login') }}">Login</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>



