{% extends "::base.html.twig" %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        <a class="btn btn-normal btn-success" href="{{ path('coc_image_add') }}">Ajouter une image</a>
        <hr>
        <table class="table table-hover tablesorter" id="myTable">
            <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Path</th>
                <th>Catégorie</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% if images|length != 0 %}
                {% for image in images %}
                    <tr>
                        <td><a class="btn btn-normal btn-info" href="{{ path('coc_image_edit', { 'id' : image.id } ) }}">Editer</a></td>
                        <td>{{ image.name }}</td>
                        <td>{{ image.path }}</td>
                        <td>  <img width="250px" class="img-responsive" src="{{ asset(image.getWebPath) }}" /></td>
                        <td>{{ image.categoryImage.name }}</td>
                        <td><a class="btn btn-normal btn-danger" href="{{ path('coc_image_delete', { 'id' : image.id } ) }}">Supprimer</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td></td>
                    <td>-</td>
                    <td>0 image trouvée</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.tablesorter.min.js') }}" type="text/javascript"></script>
{% endblock %}