{% extends "::base_admin.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Images bonus</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <ol class="breadcrumb">
        <li><a href="{{ path('admin') }}"><p class="fa fa-home"></p> Dashboard</a></li>
        <li class="active">Meilleures attaques</li>
    </ol>



    <!-- Page Content -->
    <div class="container">


        <hr>


        <div class="row">
            <br>
            {% if images|length != 0 %}
                {% for image in images %}
                    <div class="col-sm-6 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">{{ loop.index }} </h3>
                            </div>
                            <div class="panel-body">
                                <a rel="gallery-1"  href="{{ asset(image.getWebPath) }}" class="swipebox" title="">
                                    <img  class="img-responsive" src="{{ asset(image.getWebPath) }}" />
                                </a>

                            </div>
                            <div class="panel-footer">

                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                Aucune image trouvée.
            {% endif %}
        </div>


    </div>
    <!-- /.container -->

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.tablesorter.min.js') }}" type="text/javascript"></script>
{% endblock %}