{% extends "::base_admin.html.twig" %}
{% set id_clan = clan.id %}

{% block body %}


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'clan.parameters'|trans }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <ol class="breadcrumb">
        <li><a href="{{ path('admin', { 'id_clan': clan.id }) }}"><p class="fa fa-home"></p> Dashboard</a></li>
        <li class="active">{{ 'menu.edit_clan'|trans }}</li>
    </ol>



        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}

            <div class="row">
                <div class="col-md-6">
                    <h3>{{ 'clan.general_info'|trans }}</h3>
                    <hr>

                    <div class="form-group">
                        {{ form_label(form.message, 'Message', {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                        {{ form_errors(form.message) }}

                        <div class="col-sm-8">
                            {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.level, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                        {{ form_errors(form.level) }}

                        <div class="col-sm-3">
                            {{ form_widget(form.level, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>


                    <div class="form-group">
                        {{ form_label(form.image, null, {'label_attr': {'class': 'col-sm-4 control-label '}}) }}
                        {{ form_errors(form.image) }}
                        <div class="col-sm-8">
                            {{ form_widget(form.image, {'attr': {'class': 'filestyle'}}) }}
                        </div>
                    </div>

                    {% if clan.image.path is defined %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label">{{ 'clan.image'|trans }}</label>
                            <div class="col-sm-8">
                                <img  class="img-responsive" src="{{ asset(clan.image.getWebPath(clan.id)) }}" />
                            </div>
                        </div>
                    {% endif %}




                </div>
                <div class="col-md-6">
                    <h3>{{ 'clan.technical_info'|trans }}</h3>
                    <hr>
                    <div class="form-group">
                        {{ form_label(form.country, null, {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
                        {{ form_errors(form.country) }}

                        <div class="col-sm-6">
                            {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.capacity, null, {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
                        {{ form_errors(form.capacity) }}

                        <div class="col-sm-6">
                            {{ form_widget(form.capacity, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.status, null, {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
                        {{ form_errors(form.status) }}

                        <div class="col-sm-6">
                            {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.privacy, null, {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
                        {{ form_errors(form.privacy) }}

                        <div class="col-sm-6">
                            {{ form_widget(form.privacy, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.password, null, {'label_attr': {'class': 'col-sm-5 control-label'}}) }}
                        {{ form_errors(form.password) }}

                        <div class="col-sm-6">
                            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>


                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-12 text-center">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-standard btn-primary'}}) }}
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
            {{ form(form)}}
        </div>


    

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/input_file.js') }}" type="text/javascript"></script>
{% endblock %}