{% extends "::base_admin.html.twig" %}
{% set id_clan = clan.id %}

{% block body %}


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'menu.edit_clan'|trans }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <ol class="breadcrumb">
        <li><a href="{{ path('admin', { 'id_clan': clan.id }) }}"><p class="fa fa-home"></p> Dashboard</a></li>
        <li class="active">{{ 'menu.edit_clan'|trans }}</li>
    </ol>

    <div class="container">


        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.message, 'Message', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.message) }}

                <div class="col-sm-4">
                    {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.capacity, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.capacity) }}

                <div class="col-sm-4">
                    {{ form_widget(form.capacity, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">

                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>

        {{ form(form)}}
    </div>
    
    {{ form(form)}}

{% endblock %}