{% extends "::base.html.twig" %}
{% set id_clan = clan.id %}
{% set active = "base" %}

 {% block title %}
     <title>Ajouter une base</title>
 {% endblock %}

{% block body %}

    <div class="container white-bg rounded-corners">
        <h2>{{ 'menu.base_add'|trans }}</h2>

        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.hall_town,  null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.hall_town) }}

                <div class="col-sm-4">
                    {{ form_widget(form.hall_town, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.type,  null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.type) }}

                <div class="col-sm-4">
                    {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.image, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.image) }}

                <div class="col-sm-4">
                    {{ form_widget(form.image) }}
                </div>
            </div>

            <div class="form-group">

                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-block'}}) }}
                </div>
            </div>

            {{ form_rest(form) }}

            {{ form_end(form) }}
        </div>

        {# form_start(form, {'action': path('coc_homepage'), 'method': 'GET'}) }} #}
        {{ form(form)}}
    </div>

    <footer>
        {{ render(controller('COCBundle:Default:displaySeason')) }}
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/input_file.js') }}" type="text/javascript"></script>
{% endblock %}