{% extends "::base.html.twig" %}
{% set id_clan = clan.id %}
{% set active = "base" %}

{% block body %}

    <!-- Page Content -->
    <div class="container white-bg rounded-corners">

        <h1 class="page-header">{{ 'coc.visit_bases'|trans }}

            {% if is_granted('ROLE_ADMIN') and app.user.clan == clan %}
                <a class="btn btn-normal btn-success btn-normal" href="{{ path('admin_bases', {'id_clan': clan.id } ) }}">{{ 'menu.admin_base'|trans }}</a>
            {% endif %}

            {%  if app.user is defined  %}
                {% if app.user.player.clan is defined and app.user.player is defined  %}
                    {% if app.user.player.clan == clan %}
                        <a class="btn btn-lg btn-primary pull-right" href="{{ path('coc_images_base_add', {'id_clan': clan.id }) }}"> {{ 'menu.base_add'|trans }}</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </h1>

        {{ render(controller('COCBundle:ImageBase:template', { 'id': 5 , 'id_clan': clan.id })) }}
        {{ render(controller('COCBundle:ImageBase:template', { 'id': 6 , 'id_clan': clan.id })) }}
        {{ render(controller('COCBundle:ImageBase:template', { 'id': 7 , 'id_clan': clan.id })) }}
        {{ render(controller('COCBundle:ImageBase:template', { 'id': 8 , 'id_clan': clan.id })) }}
        {{ render(controller('COCBundle:ImageBase:template', { 'id': 9 , 'id_clan': clan.id })) }}

    </div>
    <!-- /.container -->

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.tablesorter.min.js') }}" type="text/javascript"></script>
{% endblock %}