{% extends "::base.html.twig" %}
{% set id_clan = clan.id %}
{% set active = "base" %}

{% block body %}

    <!-- Page Content -->
    <div class="container white-bg rounded-corners">

        <h1 class="page-header">{{ 'coc.visit_bases'|trans }}  <a class="btn btn-lg btn-primary pull-right" href="{{ path('coc_images_base_add', {'id_clan': clan.id }) }}"> {{ 'menu.base_add'|trans }}</a></h1>



            {{ render(controller('COCBundle:ImageBase:template', { 'id': 5 , 'id_clan': clan.id })) }}
            {{ render(controller('COCBundle:ImageBase:template', { 'id': 6 , 'id_clan': clan.id })) }}
            {{ render(controller('COCBundle:ImageBase:template', { 'id': 7 , 'id_clan': clan.id })) }}
            {{ render(controller('COCBundle:ImageBase:template', { 'id': 8 , 'id_clan': clan.id })) }}
            {{ render(controller('COCBundle:ImageBase:template', { 'id': 9 , 'id_clan': clan.id })) }}



    </div>
    <!-- /.container -->

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.tablesorter.min.js') }}" type="text/javascript"></script>
{% endblock %}