<div class="row">
        {% if images|length != 0 %}
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h3><a href="{{ path('coc_images_base_category', {'id': hall_town , 'id_clan': clan.id }) }}">{{ 'player.hall_town'|trans }} {{ hall_town }}</a></h3>
                </div>
            </div>

            <br>
            {% for image in images %}
                <div class="col-md-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3 class="panel-title ">
                                {% if image.type == 1 %}
                                    {{ 'label.war'|trans }}
                                {% else %}
                                    {{ 'label.farm'|trans }}
                                {% endif %}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <a rel="gallery-1"  href="{{ asset(image.image.getWebPath(clan.id)) }}" class="swipebox" title="">
                                <img  class="img-responsive" src="{{ asset(image.image.getWebPath(clan.id)) }}" />
                            </a>
                        </div>

                        <div class="panel-footer">
                            <h3 class="panel-title text-center">{{ 'label.posted_by'|trans }} {{ image.user.username }}  </h3>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

</div>
