<div class="row">


    {% if images|length != 0 %}
        <h3><a href="{{ path('coc_images_base_category', {'id': hall_town , 'id_clan': clan.id }) }}">{{ 'player.hall_town'|trans }} {{ hall_town }}</a>

        </h3>

        {% for image in images %}
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Base {{ loop.index }}</h3>
                    </div>
                    <div class="panel-body">
                        <a rel="gallery-1"  href="{{ asset('uploads/' ~ image.image.path) }}" class="swipebox" title="">
                            <img  class="img-responsive" src="{{ asset('uploads/' ~ image.image.path) }}" />
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

