
<h3><a href="{{ path('coc_images_base_category', {'id': hall_town }) }}">Hôtel de ville {{ hall_town }}</a>

    <a class="btn pull-right btn-normal btn-success" href="{{ path('coc_images_base_add') }}">Ajouter une base</a>
</h3>

<hr>
<div class="row">

    {% if images|length != 0 %}
        {% for image in images %}
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Base {{ loop.index }}</h3>
                    </div>
                    <div class="panel-body">
                        <a rel="gallery-1"  href="{{ asset(image.getWebPath) }}" class="swipebox" title="">
                            <img  class="img-responsive" src="{{ asset(image.getWebPath) }}" />
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        Aucune base trouvée.
    {% endif %}
</div>

