{% extends "::base.html.twig" %}
{% set id_clan = clan.id %}
{% set active = "media" %}

 {% block title %}
     <title>Ajouter un joueur</title>
 {% endblock %}

{% block body %}


    <div class="container">
        <h2>Ajouter une image</h2>

        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.title) }}

                <div class="col-sm-4">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <div class="form-group">
                {{ form_label(form.image, 'Image', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {{ form_errors(form.image) }}

                <div class="col-sm-4">
                    {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>



            <div class="form-group">

                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            </div>

            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>

        {# form_start(form, {'action': path('coc_homepage'), 'method': 'GET'}) }} #}
        {{ form(form)}}
    </div>
{% endblock %}

