{% extends "::base_vitrine.html.twig" %}

{% block body %}

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container ">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Oh My Clan</h1>
                        <br>
                        <h1>{{ 'vitrine.title'|trans }}</h1>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">

                            {% if not is_granted('ROLE_USER') or  not is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('coc' , { 'id_clan': 1 }) }}" class="btn btn-default  btn-lg"><i class="fa fa-coffee"></i> {{ 'vitrine.demo'|trans }}</a>
                                </li>
                            {% else %}

                                <li><a href="{{ path('coc', {'id_clan' : app.user.clan.id }) }}" class="btn btn-default btn-lg">{{ 'vitrine.my_clan'|trans }}</a></li>

                            {% endif %}
                        </ul>
                    </div>

                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->


    <!-- ******Steps Section****** -->
    <section class="steps">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="title-vitrine text-center supercell-font">{{ 'vitrine.create_clan2'|trans }}</h1>
                </div>
            </div>
            <br>
            {% if not is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
                <div class="text-center">
                    <a class="btn btn-vitrine supercell-font btn-success" href="{{ path('fos_user_registration_register', {'type' : 'create'}) }}"><i class="fa fa-plus-circle"></i> {{ 'vitrine.create_clan'|trans }}</a>
                    <span class="supercell-font">{{ 'label.or'|trans }}</span>
                    <a class="btn btn-vitrine supercell-font btn-success" href="{{ path('fos_user_registration_register', {'type' : 'join'}) }}"> <i class="fa fa-key"></i> {{ 'vitrine.join_clan'|trans }}</a>
                </div>
            {% endif %}
<br>

            <div class="row">
                <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                    <h3 class="title"><span class="number hidden-xs">1</span><br /><span class="text">{{ 'vitrine.step1_title'|trans }}</span></h3>
                    <p>{{ 'vitrine.step1_description'|trans }}</p>
                </div><!--//step-->

                <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                    <h3 class="title"><span class="number hidden-xs">2</span><br /><span class="text">{{ 'vitrine.step2_title'|trans }}</span></h3>
                    <p>{{ 'vitrine.step2_description'|trans }}</p>
                </div><!--//step-->
                <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                    <h3 class="title"><span class="number hidden-xs">3</span><br /><span class="text">{{ 'vitrine.step3_title'|trans }}</span></h3>
                    <p>{{ 'vitrine.step3_description'|trans }}</p>
                </div><!--//step-->
            </div><!--//row-->



        </div><!--//container-->
    </section><!--//steps-->



    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ 'intro.feature1_title'|trans }}</h2>
                    <p class="lead"> {{ 'intro.feature1_description'|trans }}</p>
                </div>
                <div class="col-lg-6 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{{ asset('images/plays.png') }}" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->



    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-lg-offset-1 col-sm-push-6  col-sm-4">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ 'intro.feature2_title'|trans }}</h2>
                    <p class="lead">{{ 'intro.feature2_description'|trans }} </p>
                </div>
                <div class="col-lg-6 col-sm-pull-4  col-sm-6">
                    <img class="img-responsive" src="{{ asset('images/rank.png') }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ 'intro.feature3_title'|trans }}</h2>
                    <p class="lead"> {{ 'intro.feature3_description'|trans }}</p>
                </div>
                <div class="col-lg-6 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{{ asset('images/bases.png') }}" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->




    <div class="banner" id="register">

        <div class="container hidden-lg hidden-md">

            <h2 class="text-center">Best clans</h2>
            <br>
            <div class="row text-center">
                <table class="table ">
                    <thead>
                    <tr>
                        <th class="supercell-font white-on-black text-center"><i class="fa fa-star-o fa-lg hidden-sm hidden-xs"></i><i class="fa fa-star-half-o fa-lg hidden-sm hidden-xs"></i><i class="fa fa-star fa-lg"></i></th>
                        <th class="supercell-font white-on-black text-center"></i> Clan</th>
                        <th class="supercell-font white-on-black text-center"><i class="fa fa-heart fa-lg"></i></i> </th>
                        <th class="supercell-font white-on-black text-center"><i class="fa fa-calculator fa-lg"></i> </th>
                        <th class="supercell-font white-on-black text-center"> <i class="fa fa-refresh"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if clans|length != 0 %}
                        {% for clan in clans %}
                            <tr>
                                <td class="supercell-font white-on-black text-center">{{ loop.index }}  </td>
                                <td class="supercell-font white-on-black text-center">{{ clan.name }}</td>
                                <td class="supercell-font white-on-black text-center">{{ clan.nbMember }}</td>
                                <td class="supercell-font white-on-black text-center">{{ clan.total }}</td>
                                <td class="supercell-font white-on-black text-center">{{ clan.updated|date('U')|timeago }}</td>

                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>

        </div>
        <!-- /.container -->


        <div class="container hidden-sm hidden-xs">

            <h2 class="text-center">Best clans</h2>
            <br>
            <div class="row text-center">
                <table class="table ">
                    <thead>
                    <tr>
                        <th class="supercell-font white-on-black text-center"><i class="fa fa-star-o fa-lg hidden-sm hidden-xs"></i><i class="fa fa-star-half-o fa-lg hidden-sm hidden-xs"></i><i class="fa fa-star fa-lg"></i></th>
                        <th class="supercell-font white-on-black text-center"><i class="fa fa-user fa-lg"></i> Clan</th>
                        <th class="supercell-font white-on-black text-center"><i class="fa fa-heart fa-lg"></i></i> Members</th>
                        <th class="supercell-font white-on-black text-center"><i class="fa fa-calculator fa-lg"></i> Total</th>
                        <th class="supercell-font white-on-black text-center"><i class="fa fa-refresh"></i> Last update</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if clans|length != 0 %}
                        {% for clan in clans %}
                            <tr>
                                <td class="supercell-font white-on-black text-center">{{ loop.index }} {% if loop.index == 1 %}<i class="fa fa-trophy"></i>{% endif %} </td>
                                <td class="supercell-font white-on-black text-center">{{ clan.name }}</td>
                                <td class="supercell-font white-on-black text-center">{{ clan.nbMember }}</td>
                                <td class="supercell-font white-on-black text-center">{{ clan.total|round }}</td>
                                <td class="supercell-font white-on-black text-center">{{ clan.updated|date('U')|timeago }}</td>

                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline pull-right">
                        <li>
                            <a href="#"><img src="{{ asset('images/facebook.svg') }}"></a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>

                        <li>
                            <a href="#"><img src="{{ asset('images/twitter.svg') }}"></a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; OhMyClan 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
