{% extends "::base_vitrine.html.twig" %}

{% block body %}

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Oh My Clan !</h1>
                        <h3>Managez et améliorer votre clan simplement.</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            {% if not is_granted('ROLE_USER') or  not is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="#register" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Créer un clan</span></a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('coc' , { 'id_clan': 3 }) }}" class="btn btn-default  btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Démo</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->


    <!-- ******Steps Section****** -->
    <section class="steps">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="title block title-vitrine text-center">Créez et managez votre clan en 3 étapes</h2>
                    </div>
            </div>
            <div class="row">
                <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                    <h3 class="title"><span class="number">1</span><br /><span class="text">Création du clan</span></h3>
                    <h4>Remplissez le formulaire d'inscription avec les informations du chef de clan ainsi que le nom du futur clan.</h4>
                </div><!--//step-->
                <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                    <h3 class="title"><span class="number">2</span><br /><span class="text">Créer les joueurs</span></h3>
                    <h4>Rendez vous dans le panel d'administration et créez les joueurs de votre clan.</h4>
                </div><!--//step-->
                <div class="step text-center col-md-4 col-sm-4 col-xs-12">
                    <h3 class="title"><span class="number">3</span><br /><span class="text">Actualiser le clan</span></h3>
                    <h4>Mettez à jour l'évolution de vos membres ou associez chaques joueurs aux futurs comptes crées a chaques fin de saison (toutes les deux semaines).</h4>
                </div><!--//step-->
            </div><!--//row-->

            <div class="text-center"><a class="btn btn-vitrine btn-success" href="{{ path('fos_user_registration_register') }}">Créer un clan</a></div>

        </div><!--//container-->
    </section><!--//steps-->



    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><br>Classement des joueurs</h2>
                    <p class="lead"> Obtenez des informations non disponibles sur Clash of Clan comme la possibilité de trier les joueurs par niveaux, nombres d'attaques, niveau de défences, etc.</p>
                </div>
                <div class="col-lg-6 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{{ asset('images/ipad.png') }}" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->



    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-lg-offset-1 col-sm-push-6  col-sm-4">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Activité des joueurs par saison</h2>
                    <p class="lead">Identifiez très simplement les membres actifs de votre clan, en affichant le nombre de troupes recues, envoyées ainsi que le nombre d'attaques pour chacune des saisons. </p>
                </div>
                <div class="col-lg-6 col-sm-pull-4  col-sm-6">
                    <img class="img-responsive" src="{{ asset('images/ipad3.png') }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Résumé de chaques joueurs</h2>
                    <p class="lead"> Obtenez des informations non disponibles sur Clash of Clan comme la possibilité de trier les joueurs par niveaux, nombres d'attaques, niveau de défences, etc.</p>
                </div>
                <div class="col-lg-6 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{{ asset('images/ipad.png') }}" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->

    <div class="banner" id="register">

        <div class="container">
            {% if is_granted('ROLE_ANONYMOUS') %}
            <div class="row">
                <div class="col-lg-12 text-center">
                   <a href="{{ path('fos_user_registration_register') }}"><h2>Créer un clan</h2></a>
                </div>


                    {# include('VitrineBundle:Default:registration_clan.html.twig') #}

            </div>
            {% endif %}

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline pull-right">
                        <li>
                            <a href="#"><img src="{{ asset('images/facebook.svg') }}"></a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>

                        <li>
                            <a href="#"><img src="{{ asset('images/twitter.svg') }}"></a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; OhMyClan 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>







{% endblock %}

{% block javascripts %}

{% endblock %}